<div class="popup-social">
	<ul>
		<%= render 'social/social_links_list', {:recognition => recognition,
																						:show_count => true,
																						:iframe => true } %>
	</ul>
	<div class="clear"></div>
</div>