<div id="message-header" 
		 style="height: 30px; padding: 10px; text-align: center;">
	<div id="logo-container" style="margin: 0px; auto;">
		<%= link_to 'http://www.complimentkarma.com' do %>
			<%= image_tag 'https://s3.amazonaws.com/compliment_karma_dev/logo/ck_logo.png' %>
		<% end %>
	</div>
</div>