<div id="user-achievements" class="clearfix">
	<div class="section-line">
		<div class="center-me">
			<div class="section-title">Achievements by Skill</div>
		</div>
		<div class="clear"></div>
	</div>
	<table id="achievements-by-skill" class="stripe-me">
		<tr class="header">
			<th class="left first">Skills</th>
			<th>Compliments Received</th>
			<th>Badges</th>
		</tr>
		<% if compliments_received_by_skill %>
			<% compliments_received_by_skill.each do |k,v| %>
				<tr id="<%= k %>">
					<td class="non-image first"><%= skill_name(k) %></td>
					<td class="non-image center"><%= v %></td>
					<td class="center"><%= badge_image(v) %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>