<script type="text/javascript">
	$(function() {
		SiteSearch.init();
	});
</script>
<div id="menu-bar-search-form">
	<span id="search-icon"></span>
	<div class="search-input">
		<%= form_tag('/search/site', :id => "site-search-form") do %>
			<%= text_field_tag "search_string", nil,:autocomplete => 'off' %>
		<% end %>
	</div>
	<div id="site-search" class="drop-box">
	</div>
</div>
