<% if users %>
	<div id="site-search-results" class="clearfix">
		<ul>
			<% users.each do |user| %>
				<li id="<%= user.id %>" class="clearfix" style="padding: 3px;">
					<%= link_to user do %>
							<div class="search-result-photo">
								<%= image_tag(user.photo.url(:mini)) %>
							</div>
							<%= search_result_info(user) %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>