<script type="text/javascript">
	$(function() {
		SkillAutoCompletePop.init();
	});
</script>
<div id="skill-auto-complete-pop" class="box-no-padding">
	<div id="skill-auto-complete-pop-results" class="clearfix">
	</div>
</div>