<div class="popup-social">
	<ul>
		<%= render 'social/share_this_fancybox', {:recognition_type_id => recognition_type_id,
																						:recognition_id => recognition_id,
																						:show_count => true,
																						:iframe => true } %>
	</ul>
</div>