<% if flash && !flash.empty? %>
	<section id="flash">
	  <% flash.each do |key, value| %>
	    <div class="flash <%= key %>"><%= value %></div>
	  <% end %>
	</section>
	<div class="clear"></div>
<% end %>