<table cellpadding="0px" cellspacing="0px" style="font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;">
  <tr>
    <td style="width:270px; padding:30px 0 0 30px;"></td>
	<td style="width:270px; padding:30px 30px 0 0;"><%= image_tag 'ck_logo_blue_green.png' %></td>
  </tr>
  <tr>
    <td colspan=2 style="width:540px; padding:0 30px 30px 30px;">
	  Hi,
<br/><br/>
Thank you for your interest in ComplimentKarma.com. We are currently in Private Beta and available by invitation only. Once we have more invitations available, we will gladly send you one. Till then please go through the 
<%= link_to 'About', learn_path, :class => 'ul_hover' %> section to learn more about how to use ComplimentKarma to gain all the benefits for free.
<br/><br/> 
We value your time & we strive hard to provide real tangible benefits, which will help you throughout your professional career. For 100% free you can:
<br/><br/>
- <font style="font-weight:bold;">Exchange Compliments</font> with your colleagues
<br/>
- Earn employer sponsored <font style="font-weight:bold;">Cash Rewards</font>and build <font style="font-weight:bold;">Proof of Experience</font>
<br/>
- Earn <font style="font-weight:bold;">Certificates, Trophies & Badges</font> for your skills
<br/>
- <font style="font-weight:bold;">Share your Achievements </font> on any Professional, Social Network or Website
<br/><br/><br/>
<font style="font-size:30px; padding-left:40px;">Send Compliments Earn Rewards</font>
	</td>
  </tr>
  <tr>
  <td style="width:240px; padding:0 0 0 60px;">
     <font style="font-weight:bold; padding-left:10px;">Benefits for Employees</font> <br/>
 - 100% Free <br/>
 - Build Proof of Experience <br/>
 - Earn Cash Rewards <br/>
 - Earn Trophies & Badges <br/>
 - Grow your reputation <br/>
 - Share your achievements <br/>
 - Stand out of the crowd <br/>
 - Make work more fun

  </td>
  <td style="width:240px; padding:0 30px 0 20px;">
    <font style="font-weight:bold; padding-left:10px;">Benefits for Employers</font> <br/>
 - Improve employee satisfaction <br/>
 - Grow company reputation <br/>
 - Reward employees <br/>
 - Highly positive work culture <br/>
 - Reduce brain drain <br/>
 - Attract top talent <br/>
 - Simplified employee rewards <br/>
 - Performance tracking & reporting

  </td>
  </tr>
<tr>
<td colpan=2 style="width:240px; padding:0 0 40px 30px;">
<br/>
Sincerely,
<br/><br/>
Customer Service Team<br/>
ComplimentKarma.com<br/>
info@ComplimentKarma.com<br/>
</td>
</tr>

</table>