<div style="float: right;">
	<%= image_tag 'ck_logo_blue_green.png' %>
</div>
<div class="clear"></div>

<div class=WordSection1>

	<p class=MsoNormal style='margin-bottom:13.6pt;'><span
	style='font-size:24.5pt;font-family:Verdana;color:#076191'>Terms of Service</span></p>

	<p class=MsoNormal style='margin-bottom:9.5pt;'><span
	style='font-size:15.5pt;font-family:Verdana;color:#076191'>1. ACCEPTANCE OF
	TERMS OF SERVICE</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>1.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Welcome to ComplimentKarma,
	LLC. (&quot;we&quot; &quot;us&quot; &quot;our&quot; or &quot;ComplimentKarma&quot;).</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>1.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Your use of any of ComplimentKarma's
	Web sites, services, application programming interfaces (&quot;APIs&quot;) or
	software (collectively, the &quot;ComplimentKarma Service&quot;) is subject to
	these terms of service (the &quot;Terms of Service&quot;) in effect at the time
	of your use. ComplimentKarma reserves the right to update and change these
	Terms of Service from time to time without notice or acceptance by you, so
	please check this page frequently for updates and changes. However, changes
	made to these Terms of Service will not apply to you to the extent that (i) the
	changes concern matters which are the subject of an actual dispute between you
	and ComplimentKarma as of the date the changes take effect and (ii) ComplimentKarma
	has actual notice of the dispute as of the date the changes take effect.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>1.3</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Your use of the ComplimentKarma
	Service is also subject to the ComplimentKarma Privacy Policy in effect at the
	time of your use, which is incorporated herein as though set forth in full. You
	can review the most current version of the ComplimentKarma</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#076191'>
	<%= link_to 'Privacy Policy', '#privacy-policy', :class => 'fancybox ul_hover' %></span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>1.4</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Your use of the ComplimentKarma
	Service is also subject to the ComplimentKarma Community Guidelines in effect
	at the time of your use, which are incorporated herein as though set forth in
	full. You can review the most current version of the ComplimentKarma</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>
	<%= link_to 'ComplimentKarma Guidelines', guidelines_path %></span>
	<span style='font-size:9.0pt;font-family:Verdana;color:#333333'>.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>1.5</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Your use of the ComplimentKarma
	APIs is also subject to the ComplimentKarma API Terms of Service in effect at
	the time of such use your use, which are incorporated herein as though set
	forth in full. You can review the most current version of the ComplimentKarma</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#076191'>API Terms of Service</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>1.6</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Your use of the ComplimentKarma
	Service may also be subject to additional terms, conditions, policies and/or
	agreements applicable to a specific Web site, service, API, software, service
	level or version. In the event of any conflict between these Terms of Service
	and such additional terms, conditions, policies and/or agreements, the
	additional terms, conditions, policies and/or agreements will control. For the
	avoidance of doubt, if there are terms and conditions in these Terms of Service
	regarding subjects on which the additional terms, conditions, policies and/or
	agreements are silent, such silence will not constitute a conflict and the
	terms and conditions in these Terms of Service will control.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>1.7</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>By signifying your
	acceptance of these Terms of Service or making any use of the ComplimentKarma
	Service, you signify your irrevocable acceptance of these Terms of Service in
	effect at the time of your use. If you are an individual acting as a
	representative of a corporation or other legal entity which wishes to use the ComplimentKarma
	Service, then you represent and agree that you have the authority to accept
	these Terms of Service on behalf of such corporation or other legal entity and
	that all provisions of these Terms of Service will bind that corporation or
	other legal entity as if it were named in these Terms of Service in place of
	you.</span></p>

	<p class=MsoNormal style='margin-bottom:9.5pt;'><span
	style='font-size:15.5pt;font-family:Verdana;color:#076191'>2. YOUR ACCOUNT</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>2.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>The ComplimentKarma
	Service is not intended for users under the age of thirteen (13). By signifying
	your acceptance of these Terms of Service or making any use of the ComplimentKarma
	Service, you represent and warrant that you are at least thirteen (13) years of
	age.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>2.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma can
	refuse registration of, or cancel, any account in its sole discretion, at any
	time.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>2.3</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Your account will be
	accessed through a user ID and password that you will create (your
	&quot;Credentials&quot;). Your Credentials are solely for your use. You are
	responsible for maintaining the confidentiality of your Credentials and you are
	fully and solely responsible for all activities that occur under your
	Credentials, whether authorized by you or not. It is your responsibility to
	take adequate precautions with your Credentials and to immediately notify ComplimentKarma
	of any unauthorized use of your Credentials.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>2.4</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Using your account,
	you may access and participate in the ComplimentKarma Service, including
	viewing, posting and responding to communications on and through the ComplimentKarma
	Service.</span></p>

	<p class=MsoNormal style='margin-bottom:9.5pt;'><span
	style='font-size:15.5pt;font-family:Verdana;color:#076191'>3. CONTENT AND
	INTELLECTUAL PROPERTY</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Your own text,
	images, audiovisual media and any other form of intellectual property,
	including the data, ideas, inventions, designs, patterns and processes in such
	material (collectively, &quot;Content&quot;) that you post on or through the ComplimentKarma
	Service belongs to you and you may use it in any other way without restriction.
	But by using the ComplimentKarma Service, you are granting ComplimentKarma and
	certain third parties permission to use your Content as described in these
	Terms of Service.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>By using the ComplimentKarma
	Service, you are granting ComplimentKarma a nonexclusive, worldwide,
	royalty-free, sublicenseable and transferable right and license to use,
	reproduce, create derivative works of, distribute, publicly perform and
	publicly display your Content on and through the ComplimentKarma Service and on
	and through services affiliated with ComplimentKarma, regardless of the form of
	media used or of whether such services now exist or are developed in the
	future. If you post Content on or through the ComplimentKarma Service, you
	represent and warrant that you have the right to post that Content and to grant
	the above rights to ComplimentKarma.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.3</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma may preserve
	your Content and may also disclose such Content, with or without notice to you,
	if required to do so by law or in the good faith belief that such preservation
	or disclosure is reasonably necessary to: (a) comply with legal process; (b)
	enforce these Terms of Service; (c) respond to claims that your Content
	violates the rights of any third party; or (d) protect the rights, property, or
	personal safety of ComplimentKarma, its users and the public.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.4</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>You understand that
	posting your Content on or through the ComplimentKarma Service is entirely
	voluntary and will expose your Content to public display in a non-confidential
	manner. You understand that ComplimentKarma and/or any past, present or future
	client of ComplimentKarma (each, a &quot;Client&quot;) may view your Content
	and may develop or have developed Content which is identical or similar to
	yours, may already know of such Content from other sources or may have taken or
	will take some other action with respect to such Content. Therefore, you
	represent and agree to all of the following and acknowledge that ComplimentKarma
	and its Clients are explicitly relying on such representations and agreement
	with regard to your Content:</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.4.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>The Content
	represents your own original work and you have all necessary rights to disclose
	the Content. In doing so, you are not violating the rights of any third party
	and you know of no other individual or entity whose rights will be infringed by
	the Content being viewed and used as described in these Terms of Service.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.4.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Your disclosure of
	the Content does not violate a confidential relationship with any third party,
	establish a confidential relationship with ComplimentKarma or any of its
	Clients or obligate ComplimentKarma or any of its Clients to treat your Content
	(or any related materials) as secret or confidential.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.4.3</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma
	and/or any of its Clients may give your Content such consideration as is
	warranted by their respective judgments. Review of your Content shall not be
	construed as any recognition of the novelty or originality of the Content.
	Neither ComplimentKarma nor any of its Clients is obligated to give reasons for
	making use of or rejecting your Content or to reveal its activities that are
	related to your Content.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.4.4</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Neither ComplimentKarma
	nor any of its Clients has any obligation; either expressed or implied, to make
	any use of your Content. However, if ComplimentKarma and/or any of its Clients
	do make use of your Content, whether such use is intentional or inadvertent, no
	compensation will be due to you or anyone else for the use of your Content or
	the use of any data, ideas, inventions, designs, patterns and/or processes
	similar to, related to or derived from your Content.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.4.5</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Neither ComplimentKarma
	nor any of its Clients assumes any obligation with respect to any of your
	Content except as set forth in these Terms of Service, unless and until it
	enters into a separate written contract with you, and then only as expressed in
	that separate written contract. In the absence of a separate written contract,
	your rights with regard to ComplimentKarma or any of its Clients' user of your
	Content shall be as described in these Terms of Service and as existing under
	the patent laws of the United States.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.4.6</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>If your Content is
	the subject of a pending or issued patent, you have disclosed or will disclose
	that fact in connection with posting your Content on or through the ComplimentKarma
	Service. To the extent you hold a patent in the Content, no license under any
	patent is herein granted. Any license to use patented Content shall be in the
	form of a separate written contract, in which event your, ComplimentKarma's
	and/or any of its Clients' respective obligations shall be only those expressed
	in such separate written contract.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.4.7</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Neither the
	discussion or negotiations between you, on the one hand, and ComplimentKarma
	and/or any of its Clients, on the other hand, relating to the possible purchase
	or license of your Content, nor the making of any offer for the purchase or
	license of your Content, shall prejudice ComplimentKarma and/or any of its
	Clients in any way, or be construed as recognition of the novelty, originality,
	priority, other rights or value of your Content. Further, ComplimentKarmaÕs
	and/or any of its Clients' consideration, discussions or negotiations with you
	will not in any way impair ComplimentKarma's and/or any of its Clients' right
	to contest the validity or infringement of your rights in and to the Content.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.4.8</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>You hereby
	irrevocably release and forever discharge ComplimentKarma and its Clients and
	their affiliates and subsidiaries (together, the &quot;Released Parties&quot;)
	from any and all actions, causes of actions, claims, damages, liabilities and
	demands, whether absolute or contingent and of any nature whatsoever, which you
	now have or hereafter can, shall or may have against the Released Parties or their
	respecting successors and assigns with respect to the Content, including
	without limitation in respect of how the Released Parties, directly or
	indirectly, use the Content, with the sole exception that the foregoing release
	and discharge does not apply to your right to bring a claim of patent
	infringement arising from use of your Content.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.5</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Content posted by
	another person or company on or through the ComplimentKarma Service belongs to
	the poster. Except as expressly permitted in these Terms of Service, you do not
	have the right to use, reproduce, create derivative works of, distribute,
	publicly perform or publicly display any Content that does not belong to you,
	other than viewing of the Content on or through the ComplimentKarma Service as ComplimentKarma
	may make available.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.6</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma owns
	the ComplimentKarma Service as a whole, including all computer code, graphics,
	user interfaces and audiovisual content used to provide the ComplimentKarma
	Service, and the combination of all the elements on the ComplimentKarma
	Service. The ComplimentKarma Service as a whole, the computer code of the ComplimentKarma
	Service, the user interface and graphic elements are all copyrighted works of ComplimentKarma.
	Various other aspects of the ComplimentKarma Service may be protected by
	intellectual property laws including laws of copyright, trademark, service
	mark, patent and trade secret.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.7</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma owns
	all right, title and interest in and to the ComplimentKarma Service. ComplimentKarma
	reserves all rights to the ComplimentKarma Service that are not expressly
	granted herein. By way of example only, and not limitation, you do not have the
	right to modify, adapt, translate, or reverse engineer any portion of the ComplimentKarma
	Service and you do not have the right to index or aggregate any portion of the ComplimentKarma
	Service (either by hand or by means of a robot, spider, or other device).
	Nothing in this Agreement will be construed as granting you any property rights
	in the ComplimentKarma Service or to any invention or any patent, copyright,
	trademark or other intellectual property right that has been issued, or that
	may issue, based on the ComplimentKarma Service.</span></p>

	<p class=MsoNormal style='margin-bottom:9.5pt;'><span
	style='font-size:15.5pt;font-family:Verdana;color:#076191'>4. CODE OF CONDUCT</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma has
	the right, but not the obligation, to remove or block Content from the ComplimentKarma
	Service that it determines in its sole discretion to be in violation of these
	Terms of Service, to be unlawful, offensive, threatening, libelous, defamatory,
	obscene or otherwise objectionable, that violates any party's intellectual
	property or that is detrimental to the quality or intended spirit of the ComplimentKarma
	Service. ComplimentKarma also has the right, but not the obligation, to limit
	or revoke the use privileges of the account of anyone who posts such Content or
	engages in such behavior.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma will
	use common sense and business sense regarding Content or behavior allowed on or
	through the ComplimentKarma Service. Examples of unacceptable Content or
	behavior include:</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.2.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Abuse, harassment,
	threats, flaming or intimidation of any person or organization.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.2.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Engaging in or
	contributing to any illegal activity or activity that violates others' rights.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.2.3</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Use of derogatory,
	discriminatory or excessively graphic language.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.2.4</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Providing information
	that is false, misleading or inaccurate.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.2.5</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Hacking or modifying
	the ComplimentKarma Service or another Web site to falsely imply an association
	with ComplimentKarma.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.2.6</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Implying or pretending
	to be affiliated with a company or organization with which you are not
	affiliated, or misrepresenting the extent of your affiliation or role with an
	affiliated company or organization.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.2.7</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Transmitting worms,
	viruses or harmful software.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.2.8</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Sending unwanted
	messages to other users (aka &quot;spam&quot;).</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.2.9</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Disclosing personal
	or proprietary information of another person or organization.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.3</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma
	cannot and need not control all Content posted by third parties on or through
	the ComplimentKarma Service, and does not guarantee the accuracy, integrity or
	quality of such Content. You understand that by using the ComplimentKarma
	Service you may be exposed to Content that you may find offensive, indecent,
	incorrect or objectionable and you agree that under no circumstances will ComplimentKarma
	be liable in any way for any Content, including any errors or omissions in any
	Content, or any loss or damage of any kind incurred as a result of your use of
	any Content. You understand that you must evaluate and bear all risks
	associated with the use of any Content, including any reliance on the content,
	integrity, and accuracy of such Content. If you would like to report
	objectionable materials, you may use the flagging feature by clicking the
	&quot;Flag&quot; option attached to every comment and other content. Urgent
	issues can be reported to</span><span style='font-size:9.0pt;font-family:Verdana;
	color:#333333'>&nbsp;</span><span style='font-size:9.0pt;font-family:Verdana;
	color:#076191'>urgent@ComplimentKarma.com</span><span style='font-size:9.0pt;
	font-family:Verdana;color:#333333'>.</span></p>

	<p class=MsoNormal style='margin-bottom:9.5pt;'><span
	style='font-size:15.5pt;font-family:Verdana;color:#076191'>5. INTERNATIONAL USE</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>5.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>The ComplimentKarma
	Service is hosted in the United States. If you use the ComplimentKarma Service
	from outside of the United States, you acknowledge that you are voluntarily
	transferring information (potentially including personally-identifiable
	information) and Content to the United States and agree that ComplimentKarma's
	collection, use, storage and sharing of your information and Content is
	exclusively subject to the laws of the United States, not of the jurisdiction
	in which you are located.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>5.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>You will comply with
	all United States laws, rules and regulations applicable to the export of
	products, services, software and technical data regardless of the jurisdiction
	in which you are located.</span></p>

	<p class=MsoNormal style='margin-bottom:9.5pt;'><span
	style='font-size:15.5pt;font-family:Verdana;color:#076191'>6. COPYRIGHT
	INFRINGEMENT</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>6.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Copyright
	Infringement Notices. If you believe that any material available on or through
	the ComplimentKarma Service violates your copyright, you may send ComplimentKarma
	a copyright infringement notice. Section 512(c) of the Copyright Act requires
	that your notice must be in writing and must include substantially all of the
	following:</span></p>

	<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:27.2pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:10.85pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>1.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>A physical or
	electronic signature of a person authorized to act on behalf of the owner of an
	exclusive right that is allegedly infringed.</span></p>

	<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:27.2pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:10.85pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>2.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Identification of the
	copyrighted work claimed to have been infringed, or, if multiple copyrighted
	works at a single online site are covered by a single notification, a
	representative list of such works at that site.</span></p>

	<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:27.2pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:10.85pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>3.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Identification of the
	material that is claimed to be infringing or to be the subject of infringing
	activity and that is to be removed or access to which is to be disabled, and
	information reasonably sufficient to permit ComplimentKarma to locate the
	material. ComplimentKarma requests that complete URLs for each instance of the
	allegedly infringing material be provided.</span></p>

	<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:27.2pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:10.85pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>4.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Information
	reasonably sufficient to permit ComplimentKarma to contact you, such as an
	address, telephone number, and, if available, an electronic mail address at
	which you may be contacted.</span></p>

	<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:27.2pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:10.85pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>5.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>A statement that you
	have a good faith belief that use of the material in the manner complained of
	is not authorized by the copyright owner, its agent, or the law.</span></p>

	<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:27.2pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:10.85pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>6.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>A statement that the
	information in the copyright infringement notice is accurate, and under penalty
	of perjury, that you are authorized to act on behalf of the owner of an
	exclusive right that is allegedly infringed.</span></p>

	<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
	margin-left:27.2pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:10.85pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>7.<span
	style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Your written
	copyright infringement notice must be sent to ComplimentKarma's designated
	copyright agent via mail or email. Please be aware that Section 512(f) of the
	Copyright Act provides that any person who knowingly materially misrepresents
	that material or activity is infringing may be subject to liability.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>6.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Copyright Abuse
	Policy. ComplimentKarma will terminate, in appropriate circumstances, account
	holders of ComplimentKarma's system or network who are repeat copyright
	infringers.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>6.3</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Designated Copyright
	Agent.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><i><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>Copyright
	Agent</span></i><i><span style='font-size:9.0pt;font-family:Verdana;color:#333333'><br>
	</span></i><i><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma,
	LLC.</span></i><i><span style='font-size:9.0pt;font-family:Verdana;color:#333333'><br>
	</span></i><i><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>1316
	White Pine Dr<br>
	Eau Claire, WI 54701</span></i></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>By
	email:</span><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#076191'>copyright@ComplimentKarma.com</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>The
	Copyright Agent should only be contacted if you believe that your work has been
	used or copied in a way that constitutes copyright infringement and such
	infringement is occurring on or through the ComplimentKarma Service. The
	Copyright Agent will not respond to any other inquiries.</span></p>

	<p class=MsoNormal style='margin-bottom:9.5pt;'><span
	style='font-size:15.5pt;font-family:Verdana;color:#076191'>7. CANCELLATION AND
	TERMINATION</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>7.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma, in
	its sole discretion, may terminate your password and/or account and remove and
	discard any Content within the ComplimentKarma Service for any reason,
	including and without limitation lack of use, or if ComplimentKarma believes
	that you have violated or acted inconsistently with the letter or spirit of
	these Terms of Service. In such event, any contracts, verbal or written or assumed,
	in conjunction with your account and all its parts, at ComplimentKarma's
	discretion, will be terminated as well.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>7.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma, in
	its sole discretion and at any time, may discontinue providing the ComplimentKarma
	Service, or any part thereof, with or without notice. Any termination of your
	access to the ComplimentKarma Service under any provision of these Terms of
	Service may be effected without prior notice. ComplimentKarma may immediately
	deactivate or delete your account and all related information and Content and
	bar any further access to such information, Content or to the ComplimentKarma
	Service, as applicable. ComplimentKarma will not be liable to you or any third
	party for any termination of your access to the ComplimentKarma Service.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>7.3</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>After cancellation or
	termination of your account for any reason, you will no longer have access to
	your account and all information and Content in your account or that you have
	stored on the ComplimentKarma Service may be, but is not required to be, deleted
	by ComplimentKarma. ComplimentKarma will have no liability for information or
	Content that is deleted due to the cancellation or termination of your account
	for any reason.</span></p>

	<p class=MsoNormal style='margin-bottom:9.5pt;'><span
	style='font-size:15.5pt;font-family:Verdana;color:#076191'>8. ADDITIONAL TERMS
	APPLICABLE ONLY TO CLIENTS</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>If you are a Client
	of the ComplimentKarma Service, the following terms also apply to you.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Subscriptions to the ComplimentKarma
	Service may be made available in free or paid versions and/or in different
	service levels. Not all of the features and functionality of the ComplimentKarma
	Service may be available in each version or service level. The features and
	functionality of each version or service level may be changed from time to time
	at ComplimentKarma's discretion.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.3</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>In order to subscribe
	to the ComplimentKarma Service, you may be required to provide ComplimentKarma
	with billing and account information (&quot;Billing Information&quot;) for a
	credit card, payment card or another payment system for which you are
	authorized to approve charges (each, a &quot;Payment Source&quot;) to allow ComplimentKarma
	to collect payment from you for your use of the ComplimentKarma Service. You
	must provide ComplimentKarma with true, accurate, current and complete Billing
	Information and maintain and promptly update your Billing Information to keep
	it true, accurate, current and complete.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.4</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Unless other payment
	arrangements have been made in advance and confirmed by ComplimentKarma, you
	authorize ComplimentKarma to automatically and immediately bill your Payment
	Source when charges for your use of the paid version of the ComplimentKarma
	Service are due, without any further action on your part or other prior notice
	on the part of ComplimentKarma. You assume full responsibility for such
	charges, even if such charges are declined or not paid by your Payment Source.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.5</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>If you register to
	use a paid version of the ComplimentKarma Service on a free-trial basis and you
	do not cancel the trial before the expiration of the trial period, then, upon
	the expiration of the trial period, your account will be automatically converted
	to a paid account and, unless other payment arrangements have been made in
	advance and confirmed by ComplimentKarma, your Payment Source will be billed
	for that paid ComplimentKarma Service.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.6</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>If your Payment
	Source is invalid, if charges billed to your Payment Source are declined or not
	paid or if you fail to pay charges for a paid version of the ComplimentKarma
	Service when due, your account may be downgraded, suspended or cancelled, at ComplimentKarma's
	discretion. If your account is suspended, ComplimentKarma may, but is not
	obligated to, maintain your account and/or related content and information, in
	order to allow you pay the past-due charges and restore your account. If the
	charges are not paid, your account may be cancelled.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.7</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Unless stated to the
	contrary, all charges for paid versions of the ComplimentKarma Service are
	non-refundable, even if your use of the paid version of the ComplimentKarma
	Service is cancelled before the end of your current billing period.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.8</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>Unless stated to the
	contrary, all currency references in paid versions of the ComplimentKarma
	Service are in U.S. dollars.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.9</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>In addition to any
	other remedies available to ComplimentKarma, you will pay a late fee of one percent
	(1%) per month (or the maximum amount permitted by applicable law, whichever is
	less) for any late payments hereunder.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.10</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>You are solely
	responsible for any and all taxes, levies, charges and fees incurred or that
	may be payable to any taxing authority in connection with the transactions
	hereunder, other than any income tax incurred by ComplimentKarma. All fees
	stated for use of the ComplimentKarma Service are net of any applicable taxes.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.11</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>ComplimentKarma
	grants to you, commencing on the effective date of your subscription to the ComplimentKarma
	Service (the &quot;Effective Date&quot;) and continuing thereafter for the term
	of your subscription (unless terminated earlier pursuant to these Terms of
	Service), a non-exclusive, non-transferable (except as permitted below),
	world-wide, limited license to make use of the then-current versions of the ComplimentKarma
	Service to which you have subscribed for the purposes of creating, maintaining
	and administering an online community (the &quot;Client Company&quot;). The ComplimentKarma
	Service is licensed hereby, not sold.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.12</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&quot;Client
	Content&quot; means any content owned, controlled or licensed by you. You
	hereby grant to ComplimentKarma a non-exclusive, transferable, worldwide,
	royalty-free, limited license to reproduce, create derivative works from,
	distribute, perform, display and otherwise use the Client Content for the sole
	purpose of providing the Client Company.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.13</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&quot;User
	Content&quot; means any content uploaded to the Client Company by any user of
	the Client Company. To the extent of your rights in and to the User Content,
	you hereby grant to ComplimentKarma a non-exclusive, transferable, worldwide,
	royalty-free, perpetual license to reproduce, create derivative works from,
	distribute, perform, display, and otherwise use the User Content (i) for the
	sole purpose of providing the Client Company, (ii) for use in and through ComplimentKarma's
	APIs to the extent authorized by the user of the Client Company who made the
	User Content available to ComplimentKarma, (iii) for syndicating the User
	Content to third parties to the extent authorized by the user of the Client
	Company who made the User Content available to ComplimentKarma and (iv) to
	retain the User Content to the extent authorized by the user of the Client
	Company who made the User Content available to ComplimentKarma.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.14</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>As between you and ComplimentKarma,
	you are solely responsible for the acts and omissions of the users of the Client
	Company and you are solely responsible for managing the interaction of each user
	of the Client Company with the Client Company, with other users of the Client
	Company and with other third parties.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.15</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>You will not store or
	transmit, nor allow any user of the Client Company to store or transmit, any
	Client Content or User Content on or through the Client Company that violates
	these Terms of Service, that violates any acceptable use policy applicable to
	the Client Company or that is, is alleged to be or, in ComplimentKarma's sole
	discretion, may be in violation of any law, rule or regulation or of any third
	party's rights, or otherwise exposes ComplimentKarma to any liability.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.16</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>To comply with
	applicable laws and lawful governmental requests, to protect ComplimentKarma's
	systems and customers, or to ensure the integrity and operation of ComplimentKarma's
	business and systems, ComplimentKarma may access, store and/or disclose any
	information stored or transmitted on or through the Client Company which ComplimentKarma
	considers necessary or appropriate, including, without limitation, user
	information, IP address and traffic information, usage history, Client Content
	and User Content. ComplimentKarma also reserves the right to report any
	activity that it suspects violates any law, rule or regulation to appropriate
	law enforcement officials, regulators or other appropriate third parties.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>8.17</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>You may not assign
	your subscription to the ComplimentKarma Service, and such any assignment by
	you will be null and void; provided, however, that you may assign your
	subscription to the ComplimentKarma Service to its successor in interest in
	connection with the sale of your business as a going concern or in connection
	with the sale of all, or substantially all, of your assets.</span></p>

	<p class=MsoNormal style='margin-bottom:9.5pt;'><span
	style='font-size:15.5pt;font-family:Verdana;color:#076191'>9. U.S. GOVERNMENT
	RESTRICTED RIGHTS</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>9.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>If you are an agency
	of the United States Government, the ComplimentKarma Service is a
	&quot;Commercial Item,&quot; as that term is defined at 48 C.F.R. Section
	2.101, consisting of &quot;Commercial Computer Software&quot; and
	&quot;Commercial Computer Software Documentation,&quot; as such terms are used
	in 48 C.F.R. Section 12.212 or 48 C.F.R. Section 227.7202, as applicable.
	Consistent with 48 C.F.R. Section 12.212 or 48 C.F.R. Section 227.7202-1
	through 227.7202-4, as applicable, the Commercial Computer Software and
	Commercial Computer Software Documentation are being licensed to the United
	States Government (a) only as Commercial Items and (b) with only those rights
	as are granted to all other end users pursuant to the terms and conditions
	herein. All unpublished rights are reserved under the copyright laws of the
	United States. For purpose of any public disclosure provision under any law, it
	is agreed that the ComplimentKarma Service are trade secrets and proprietary
	commercial products and not subject to disclosure.</span></p>

	<p class=MsoNormal style='margin-bottom:9.5pt;'><span
	style='font-size:15.5pt;font-family:Verdana;color:#076191'>10. GENERAL TERMS</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>10.1</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>These Terms of
	Service will remain in full force and effect while you use the ComplimentKarma
	Service. These terms can continue to operate after you stop using the ComplimentKarma
	Service (including without limitation your Content license to ComplimentKarma
	and the General Terms in this Section), will survive after you stop using the ComplimentKarma
	Service.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>10.2</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>You agree to
	indemnify and hold ComplimentKarma, its parents, subsidiaries, affiliates,
	officers and employees, harmless, including costs and attorneys' fees, from any
	claim or demand made by any third party due to or arising out of (i) your
	actions in using the ComplimentKarma Service, (ii) a claim that you, or any
	third party using your Credentials, infringed any intellectual property or
	other right of any person or organization using the ComplimentKarma Service, or
	(iii) the violation of these Terms of Service by you, or any third party using
	your Credentials.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>10.3</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>THE COMPLIMENTKARMA
	SERVICE IS PROVIDED &quot;AS IS&quot; WITH NO REPRESENTATIONS OR WARRANTIES OF
	ANY KIND, EXPRESS, STATUTORY OR IMPLIED, AS TO THE OPERATION OF THE COMPLIMENTKARMA
	SERVICE, OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THE COMPLIMENTKARMA
	SERVICE. TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, COMPLIMENTKARMA
	AND ITS AFFILIATES DISCLAIM ALL WARRANTIES, EXPRESS, STATUTORY, OR IMPLIED,
	INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS
	FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. FURTHER, COMPLIMENTKARMA AND ITS
	AFFILIATES DO NOT WARRANT THE ACCURACY OR COMPLETENESS OF THE INFORMATION,
	TEXT, GRAPHICS, LINKS OR OTHER INFORMATION CONTAINED IN THE COMPLIMENTKARMA
	SERVICE. SOME JURISDICTIONS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES, SO
	THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. COMPLIMENTKARMA DOES NOT WARRANT
	THAT THE COMPLIMENTKARMA SERVICE WILL BE AVAILABLE AT ANY TIME OR FROM ANY
	PARTICULAR LOCATION, WILL BE SECURE OR ERROR-FREE, THAT DEFECTS WILL BE
	CORRECTED, OR THAT THE COMPLIMENTKARMA SERVICE IS FREE OF VIRUSES OR OTHER
	POTENTIALLY HARMFUL COMPONENTS. NO ADVICE OR INFORMATION, WHETHER ORAL OR
	WRITTEN, OBTAINED FROM COMPLIMENTKARMA OR THE COMPLIMENTKARMA SERVICE SHALL
	CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THESE TERMS OF SERVICE.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>10.4</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>NEITHER COMPLIMENTKARMA
	NOR ITS AFFILIATES WILL BE LIABLE, UNDER ANY THEORY OF LAW, FOR ANY INDIRECT,
	INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES, INCLUDING, BUT NOT LIMITED TO
	LOSS OF PROFITS, BUSINESS INTERRUPTION, AND/OR LOSS OF INFORMATION OR DATA.
	SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR
	CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO
	YOU. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, COMPLIMENTKARMA'S
	MAXIMUM AGGREGATE LIABILITY TO YOU FOR ANY CAUSES WHATSOEVER, AND REGARDLESS OF
	THE FORM OF ACTION, WILL AT ALL TIMES BE LIMITED TO THE LOWER OF (i) THE AMOUNT
	PAID, IF ANY, BY YOU TO COMPLIMENTKARMA FOR THE COMPLIMENTKARMA SERVICE IN THE 6
	MONTHS PRIOR TO THE ACTION GIVING RISE TO LIABILITY OR (ii) ONE HUNDRED DOLLARS
	($100.00).</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><b><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>10.5</span></b><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>&nbsp;</span><span
	style='font-size:9.0pt;font-family:Verdana;color:#333333'>These Terms of
	Service (including any additional terms, conditions, policies and agreements
	incorporated herein) are the entire agreement between ComplimentKarma and you
	regarding the ComplimentKarma Service. Any dispute arising from or related to
	these Terms of Service will be governed by the laws of the State of Wisconsin
	without regard to conflict of law principles. Any such dispute will be resolved
	through binding arbitration by a single arbitrator pursuant to the American
	Arbitration Association's rules applicable to commercial disputes. The
	arbitration will be held in Eau Claire, Wisconsin. The failure of ComplimentKarma
	to exercise or enforce any right or provision of these Terms of Service shall
	not constitute a waiver of such right or provision. If any provision of these
	Terms of Service is found to be unenforceable or invalid, that provision shall
	be limited or eliminated to the minimum extent necessary so that these Terms of
	Service shall otherwise remain in full force and effect and be enforceable.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>Last
	updated July 31, 2012.</span></p>

	<p class=MsoNormal style='margin-bottom:8.15pt;line-height:16.8pt;
	'><span style='font-size:9.0pt;font-family:Verdana;color:#333333'>Copyright
	© 2012 ComplimentKarma, LLC. All rights reserved.</span></p>

	<p class=MsoNormal><span style='font-family:Verdana'>&nbsp;</span></p>

</div>

<%= render 'shared/privacy_policy' %>