<% if feed_item.item_type_id == @recognition_type_compliment_id %>
	<li class="social-compliment social-link-style">Compliment</li>
<% elsif feed_item.item_type_id == @recognition_type_reward_id %>
	<li class="social-compliment-user social-link-style">Compliment</li>
<% elsif feed_item.item_type_id == @recognition_type_accomplishment_id %>
	<li class="social-compliment-user social-link-style">Compliment</li>
<% end %>