<div class="recognition-participants">
	<div class="feed-item-participant-left">
		<strong><%= recognition_header_name(left_side_user) %></strong>
	</div>
	<div class="recognition_arrow"><%= recognition_arrow(feed_item) %></div>
	<div class="feed-item-participant-right">
		<strong><%= recognition_header_name(right_side_user) %></strong>
	</div>
	<div class="clear"></div>
</div>