<div class="recognition-participants">
	<div class="feed-item-participant-left">
		<strong><%= recognition_left_side(feed_item) %></strong>
	</div>
	<div class="recognition_arrow"><%= recognition_arrow(feed_item) %></div>
	<div class="feed-item-participant-right">
		<strong><%= recognition_right_side(feed_item) %></strong>
	</div>
	<div class="clear"></div>
</div>