<% if (view_state(@user) == view_state_user_manager ||
			view_state(@user) == view_state_company_manager) &&
			@confirmed %>
	<%= form_tag(upload_photo_path, :multipart => true, 
																	:id => "photo-upload-form", 
																	:remote => true) do %>
		<%= file_field 'user', 'photo', :id => 'photo-upload-input' %>
		<!-- <input type="file" id="photo-upload-input"> -->
		<div class="photo-upload <%= upload_background_photo(@user) %>">
			<p style="color: #000000;">+ Add Photo</p>
		</div>
	<% end %>
<% else %>
	<div class="photo-upload <%= upload_background_photo(@user) %>">
		<!-- <p>Click to add a<br/>Profile Image</p> -->
	</div>
<% end %>