<div style="margin-bottom: 20px;">
	<h1>What is ComplimentKarma?</h1>
	<p>
		ComplimentKarma is a cloud based application to Send / Receive Compliments (e.g. Thanks, Kudos, Good Job, Recommendation etc.) To / From your Professional and Personal (i.e. Social) contacts.
  </p><br />
  <p>
		Based on the compliments you Send / Receive from your coworkers and other work related external contacts (such as Employer’s Customers, Vendors and Suppliers etc.), your Employer & Manager can reward you with Cash Rewards.
	</p><br />
	<p>
		Based on the number of compliments, you also earn various Level Badges, Trophies and Certificates for different Skills and build your Proof of Experience, to help you with your future job endeavors, as you own your profile even if you switch employers.
	</p><br />
	<p>
		You can exchange compliments not only with your Professional contacts for day-to-day work related tasks, but also with your Personal contacts for non-work related reasons.
	</p><br />
	<p>
		Employers / Managers can sign-up for advanced functionality to administer employee professional accounts, in addition to access advanced features and reward programs.
	</p><br />
	<h2>Is it Free to use ComplimentKarma?</h2>
	<p>
		Yes, ComplimentKarma is 100% Free to use for all Individuals accounts. You don’t need Credit/Debit card to use your personal account.
	</p><br />
	<p>
		Only those Employers / Managers, who want to access advanced features to administer their Employees / Teams, need to pay a nominal monthly fee, based on the number of Users they want to administer.
	</p><br />
	<h2>Why does each user have 2 types of profiles?</h2>
	<p>
		To make it easier for users to separate work related and non-work related compliments / activity, we created following 2 types of profiles. This allows users to easily control privacy / sharing options for each profile.
	</p><br />
	<p>
		Professional Profile is like a Resume and should only contain work related compliments, which users send/receive based on how well they perform their day-to-day job related tasks. It must not contain any casual compliments.
	</p><br />
	<p>
		Social Profile should contain all the non-work related & casual compliments, even including any casual compliments between coworkers or professional contacts.
	</p><br />
	<p>
		Businesses only have Professional Profile.
	</p><br />
	<h2>What does each field in Compliment Module mean?</h2>
	<table>
		<tr>
			<td class="faq-label">To</td>
			<td class="faq-text">
				Name or Email of the Receiving User or Business
				(Yes, you can also send compliments to your favorite Businesses, as each has its own profile)
			</td>
		</tr>
		<tr>
			<td class="faq-label">Skill</td>
			<td class="faq-text">Particular Skill of the Receiver using which they performed some task / activity, for which you want to compliment them</td>
		</tr>
		<tr>
			<td class="faq-label">Comment</td>
			<td class="faq-text">Short comment. Up to 140 characters <span class="eg-text">(must not contain any proprietary or confidential information)</span></td>
		</tr>
		<tr>
			<td class="faq-label">Compliment Type</td>
			<td class="faq-text">
				<ul>
					<li style="margin-bottom: 10px;">Send from my <strong>Professional</strong> profile to a receiver's 
						<strong>Professional</strong> profile 
					<span class="eg-text">(work related compliments only)</span></li>
					<li>
						<ul style="margin-left:30px;">
							<li style="list-style:disc;">Coworker to Coworker</li>
							<li style="list-style:disc;">Business to its Employees & Professional Contacts</li>
							<li style="list-style:disc;">Professional to Professional Contacts</li>
						</ul><br />
						<ul style="color: #076191; margin-left: 30px;">
							<li style="list-style:disc;">Aman from ComplimentKarma compliments his coworker Mike for great product</li>
							<li style="list-style:disc;">Restaurant compliments its employees for their hard work</li>
							<li style="list-style:disc;">Judy from Retail Company compliments Robert from Media Company for running a successful media campaign, for her company</li>
						</ul>
					</li>
					<br />
					<li style="margin-bottom: 10px;">Send from my <strong>Professional</strong> profile to a receiver's 
						<strong>Social</strong>profile</li>
					<li>
						<ul style="margin-left: 30px;">
							<li style="list-style:disc;">Employee to Individual Consumer</li>
							<li style="list-style:disc;">Business to Individual Consumer</li>
						</ul><br />
						<ul style="color: #076191; margin-left: 30px;">
							<li style="list-style:disc;">Aman from ComplimentKarma compliments his site’s top user Jessica</li>
							<li style="list-style:disc;">Jason from Real Estate Company compliments his customer Linda for using his services.</li>
							<li style="list-style:disc;">A Popular Restaurant compliments its regular customer Rob for continued patronage</li>
						</ul>
					</li>
					<br />
					<li style="margin-bottom: 10px;">Send from my <strong>Social</strong> profile to a receiver's <strong>Professional</strong> profile</li>
					<li>
						<ul style="margin-left: 30px;">
							<li style="list-style:disc;">Individual Consumer to a Company Employee</li>
							<li style="list-style:disc;">Individual to Company</li>
						</ul><br />
						<ul style="color: #076191; margin-left: 30px;">
							<li style="list-style:disc;">Vicky compliments Aman from ComplimentKarma for acting quickly on her feedback.</li>
							<li style="list-style:disc;">Randy compliments Company Groupon for providing awesome deals.</li>
							<li style="list-style:disc;">Ruby compliments Scott from Hair Salon for giving her that beautiful haircut.</li>
						</ul>
					</li>
					<br />
					<li style="margin-bottom: 10px;">Send from my <strong>Social</strong> profile to a receiver's <strong>Social</strong> profile <span class="eg-text">(non-work related compliments only)</span><br />
					<li>
						<ul style="margin-left: 30px;">
							<li style="list-style:disc;">Coworker to Coworker & Professional Contacts</li>
							<li style="list-style:disc;">Friend to Friend</li>
							<li style="list-style:disc;">Relative to Relative</li>
						</ul><br />
						<ul style="color: #076191; margin-left: 30px;">
							<li style="list-style:disc;">Brian compliments his coworker Alexandra on her basketball skills.</li>
							<li style="list-style:disc;">Maria compliments her fiancé Chris for planning that awesome birthday party for her.</li>
							<li style="list-style:disc;">Jimmy compliments his friend John for help with moving.</li>
						</ul>
					</li>
				</ul>
			</td>
		</tr>
	</table>
	<h2>How to send a Compliment?</h2>
	<ol>
		<li>From the drop-down Compliment Module available on most pages.</li>
		<li>By copying <strong><%= receiving_email %></strong> in an email you are sending to the Compliment Receiver.
			<br />
			<p>
				- Skill of the Receiver you want to compliment must be entered in caret sign 
				(by pressing “shift + 6” on your keyboard), e.g.
			</p>
			<p class="eg-text"><strong>^</strong>Sales<strong>^</strong></p>
			<p class="eg-text"><strong>^</strong>Customer Service<strong>^</strong></p>
			<p class="eg-text"><strong>^</strong>Project Management<strong>^</strong></p>
			<br />
			<p>
				- The short abbreviation of the appropriate compliment type must also be entered in caret sign, as shown below: 
			</p>
			<p class="eg-text"><strong>^</strong>p to p<strong>^</strong></p>
			<p class="eg-text"><strong>^</strong>p to s<strong>^</strong></p>
			<p class="eg-text"><strong>^</strong>s to p<strong>^</strong></p>
			<p class="eg-text"><strong>^</strong>s to s<strong>^</strong></p>
			<br />
			<p><strong>The Following is an example compliment sent by email:</strong></p>
			<p><strong>To:</strong> Mike@example.com, <%= receiving_email %></p>
			<p><strong>Subject:</strong> Any subject</p>
			<p><strong>Comment:</strong> Mike, Thanks a lot for all the help with ^Ruby on Rails^ web development. ^p to p^.</p>
		</li>

	</ol>
	<h2>Who can I exchange compliments with?</h2>
	<p>ComplimentKarma is available for both Professional and Personal (i.e. Social) usage, so you can exchange compliments with anyone. Some examples of exchanges between users are as following:</p>
	<ul>
		<li>Coworker to Coworker</li>
		<li>Business to/from its Customers, Vendors and Suppliers</li>
		<li>Employee to/from Employer’s Customers, Vendors and Suppliers</li>
		<li>Business to Business</li>
		<li>Friend to Friend</li>
		<li>Relative to Relative</li>
	</ul>
	<h2>Can I share my Activity & Achievement like Compliments, Badges, Trophies and Rewards etc, on other sites?</h2>
	<p>Absolutely, there are various options available for you to share your activity through email and other social networks like Facebook, Twitter and Google Plus etc.</p>
</div>