<p>
	Professional Profile is like a <span class="eg-text">Resume</span> and should only contain <span class="eg-text">work related</span> compliments, which users send/receive based on how well they perform their day-to-day job related tasks. It <span class="eg-text">must not contain any casual compliments.</span>
</p><br />
<p>
	Social Profile should contain all the <span class="eg-text">non-work related & casual</span> compliments, even including any casual compliments between <span class="eg-text">coworkers or professional contacts.</span>
</p><br />
<h2>What does each field in Compliment Module mean?</h2>
<table>
	<tr>
		<td class="faq-label">To</td>
		<td class="faq-text">
			Name or Email of the Receiving User or Business
			(Yes, you can also send compliments to your favorite Businesses, as each has its own profile)
		</td>
	</tr>
	<tr>
		<td class="faq-label">Skill</td>
		<td class="faq-text">Particular Skill of the Receiver using which they performed some task / activity, for which you want to compliment them</td>
	</tr>
	<tr>
		<td class="faq-label">Comment</td>
		<td class="faq-text">Short comment. Up to 140 characters <span class="eg-text">(must not contain any proprietary or confidential information)</span></td>
	</tr>
	<tr>
		<td class="faq-label">Compliment Type</td>
		<td class="faq-text">
			<ul>
				<li style="margin-bottom: 10px;">Send from my <strong>Professional</strong> profile to a receiver's 
					<strong>Professional</strong> profile 
				<span class="eg-text">(work related compliments only)</span></li>
				<li>
					<ul style="margin-left:30px;">
						<li style="list-style:disc;">Coworker to Coworker</li>
						<li style="list-style:disc;">Business to its Employees & Professional Contacts</li>
						<li style="list-style:disc;">Professional to Professional Contacts</li>
					</ul><br />
					<ul style="color: #076191; margin-left: 30px;">
						<li style="list-style:disc;">Aman from ComplimentKarma compliments his coworker Mike for great product</li>
						<li style="list-style:disc;">Restaurant compliments its employees for their hard work</li>
						<li style="list-style:disc;">Judy from Retail Company compliments Robert from Media Company for running a successful media campaign, for her company</li>
					</ul>
				</li>
				<br />
				<li style="margin-bottom: 10px;">Send from my <strong>Professional</strong> profile to a receiver's 
					<strong>Social</strong>profile</li>
				<li>
					<ul style="margin-left: 30px;">
						<li style="list-style:disc;">Employee to Individual Consumer</li>
						<li style="list-style:disc;">Business to Individual Consumer</li>
					</ul><br />
					<ul style="color: #076191; margin-left: 30px;">
						<li style="list-style:disc;">Aman from ComplimentKarma compliments his site’s top user Jessica</li>
						<li style="list-style:disc;">Jason from Real Estate Company compliments his customer Linda for using his services.</li>
						<li style="list-style:disc;">A Popular Restaurant compliments its regular customer Rob for continued patronage</li>
					</ul>
				</li>
				<br />
				<li style="margin-bottom: 10px;">Send from my <strong>Social</strong> profile to a receiver's <strong>Professional</strong> profile</li>
				<li>
					<ul style="margin-left: 30px;">
						<li style="list-style:disc;">Individual Consumer to a Company Employee</li>
						<li style="list-style:disc;">Individual to Company</li>
					</ul><br />
					<ul style="color: #076191; margin-left: 30px;">
						<li style="list-style:disc;">Vicky compliments Aman from ComplimentKarma for acting quickly on her feedback.</li>
						<li style="list-style:disc;">Randy compliments Company Groupon for providing awesome deals.</li>
						<li style="list-style:disc;">Ruby compliments Scott from Hair Salon for giving her that beautiful haircut.</li>
					</ul>
				</li>
				<br />
				<li style="margin-bottom: 10px;">Send from my <strong>Social</strong> profile to a receiver's <strong>Social</strong> profile <span class="eg-text">(non-work related compliments only)</span><br />
				<li>
					<ul style="margin-left: 30px;">
						<li style="list-style:disc;">Coworker to Coworker & Professional Contacts</li>
						<li style="list-style:disc;">Friend to Friend</li>
						<li style="list-style:disc;">Relative to Relative</li>
					</ul><br />
					<ul style="color: #076191; margin-left: 30px;">
						<li style="list-style:disc;">Brian compliments his coworker Alexandra on her basketball skills.</li>
						<li style="list-style:disc;">Maria compliments her fiancé Chris for planning that awesome birthday party for her.</li>
						<li style="list-style:disc;">Jimmy compliments his friend John for help with moving.</li>
					</ul>
				</li>
			</ul>
		</td>
	</tr>
</table>