<div style="margin-bottom: 20px;">
	<h1>What is ComplimentKarma?</h1>
	<p>
		ComplimentKarma is a cloud based application to Send / Receive Compliments (e.g. Thanks, Kudos, Good Job, Recommendation etc.) To / From your Professional and Personal (i.e. Social) contacts.
  </p><br />
  <p>
		Based on the compliments you Send / Receive from your coworkers and other work related external contacts (such as Employer’s Customers, Vendors and Suppliers etc.), your Employer & Manager can reward you with Cash Rewards.
	</p><br />
	<p>
		Based on the number of compliments, you also earn various Level Badges, Trophies and Certificates for different Skills and build your Proof of Experience, to help you with your future job endeavors, as you own your profile even if you switch employers.
	</p><br />
	<p>
		You can exchange compliments not only with your Professional contacts for day-to-day work related tasks, but also with your Personal contacts for non-work related reasons.
	</p><br />
	<p>
		Employers / Managers can sign-up for advanced functionality to administer employee professional accounts, in addition to access advanced features and reward programs.
	</p><br />
	<h2>Is it Free to use ComplimentKarma?</h2>
	<p>
		Yes, ComplimentKarma is 100% Free to use for all Individuals accounts. You don’t need Credit/Debit card to use your personal account.
	</p><br />
	<p>
		Only those Employers / Managers, who want to access advanced features to administer their Employees / Teams, need to pay a nominal monthly fee, based on the number of Users they want to administer.
	</p><br />
	<h2>Why does each user have 2 types of profiles?</h2>
	<p>
		To make it easier for users to separate work related and non-work related compliments / activity, we created following 2 types of profiles. This allows users to easily control privacy / sharing options for each profile.Businesses only have Professional Profile.
	</p><br />
	<%= render 'pages/help_compliment_module' %>
	<h2>How to send a Compliment?</h2>
	<ol>
		<li>From the drop-down Compliment Module available on most pages.</li>
		<li>By copying <strong><%= receiving_email %></strong> in an email you are sending to the Compliment Receiver.
			<br />
			<p>
				- Skill of the Receiver you want to compliment must be entered in caret sign 
				(by pressing “shift + 6” on your keyboard), e.g.
			</p>
			<p class="eg-text"><strong>^</strong>Sales<strong>^</strong></p>
			<p class="eg-text"><strong>^</strong>Customer Service<strong>^</strong></p>
			<p class="eg-text"><strong>^</strong>Project Management<strong>^</strong></p>
			<br />
			<p>
				- The short abbreviation of the appropriate compliment type must also be entered in caret sign, as shown below: 
			</p>
			<p class="eg-text"><strong>^</strong>p to p<strong>^</strong></p>
			<p class="eg-text"><strong>^</strong>p to s<strong>^</strong></p>
			<p class="eg-text"><strong>^</strong>s to p<strong>^</strong></p>
			<p class="eg-text"><strong>^</strong>s to s<strong>^</strong></p>
			<br />
			<p><strong>The Following is an example compliment sent by email:</strong></p>
			<p><strong>To:</strong> Mike@example.com, <%= receiving_email %></p>
			<p><strong>Subject:</strong> Any subject</p>
			<p><strong>Comment:</strong> Mike, Thanks a lot for all the help with ^Ruby on Rails^ web development. ^p to p^.</p>
		</li>

	</ol>
	<h2>Who can I exchange compliments with?</h2>
	<p>ComplimentKarma is available for both Professional and Personal (i.e. Social) usage, so you can exchange compliments with anyone. Some examples of exchanges between users are as following:</p>
	<ul>
		<li>Coworker to Coworker</li>
		<li>Business to/from its Customers, Vendors and Suppliers</li>
		<li>Employee to/from Employer’s Customers, Vendors and Suppliers</li>
		<li>Business to Business</li>
		<li>Friend to Friend</li>
		<li>Relative to Relative</li>
	</ul>
	<h2>Can I share my Activity & Achievement like Compliments, Badges, Trophies and Rewards etc, on other sites?</h2>
	<p>Absolutely, there are various options available for you to share your activity through email and other social networks like Facebook, Twitter and Google Plus etc.</p>
</div>