<div>
	<h3>Alpha/Beta Testing</h3>
	Listed below are the valid email addresses for invitations. Our email provider
	only allows you to send to "verified" email addresses while in "sandbox" mode.
	<ul style="margin-top:10px;">
		<li>guramandeepji@yahoo.com</li>
		<li>jango321@gmail.com</li>
		<li>mike.hoitomt@gmail.com</li>
		<li>mike@hoitomt.com</li>
		<li>mike@simpleautomation.biz</li>
		<li>rewardtheproductive@gmail.com</li>
	</ul>
</div>	
	