<div class="grid_16 main-content">
	<div class="about-container">
		<h1>ComplimentKarma Bad Words</h1>
		<p>
			ComplimentKarma is focused on improving morale and workplace culture through positive feedback.
			Bad language does not promote good karma. Therefore the following words (and derivatives of them)
			are prevented from ComplimentKarma. If you compliment contains any of these words, it will not be 
			allowed on the site
		</p>
		<br />
		<%#= @words.join(', ') %>
	</div>
</div>