<div class="grid_16 main-content">
	<div class="about-container" style="height: 800px;">
		<%= render 'pages/about_menu' %>
		<div class="about-content">
			<h1>Contact Us</h1>
			<div class="address-container">
				<p>ComplimentKarma LLC</p>
				<p>1316 White Pine Dr.</p>
				<p>Eau Claire, WI 54701</p>
				<p style="margin-top: 5px;">email: <%= mail_to 'info@complimentkarma.com', 'info@complimentkarma.com', :class => 'ul_hover' %></p>
			</div>			
			<div class="map-container">
				<%= link_to 'https://maps.google.com/maps/ms?msid=207536715040387622638.0004c72e4086ab0bfd95d&msa=0&ll=37.926868,-81.914062&spn=54.622956,62.841797' do %>
					<%= image_tag 'map.png' %>
				<% end %>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>