<div class="grid_16 main-content">
	<div class="about-container">
		<%= render 'pages/about_menu' %>
		<div class="about-content">
			<div>
				<h1>ComplimentKarma Guidelines</h1>
				<p>
				ComplimentKarma is a Professional, Social network with the goal of bringing more positivity and satisfaction to everyone’s professional and personal life. In order to achieve these goals we all need to adhere to these guidelines, as well as ComplimentKarma's 
				<%= link_to 'Terms of Service.', '#terms-and-conditions', :class => 'fancybox' %></p>
				<h2>Compliment Etiquette</h2>
				<ul>
					<li>Be responsible and never ask for compliments from others. A compliment is an internal calling for the sender. It’s like saying “Thank You”, “Good job”, “Keep it up” etc. On day to day basis, you should try to do a great job in all aspects of your work and personal life and be considerate of others.</li>
					<li>Never ask for or send a fake compliment. A real compliment will convey a real and satisfying feeling of earning something you deserve. In the end this is all about good Karma and fairness.</li>
					<li>Be respectful to others and never spam or harass anybody.</li>
					<li>Never write/share your Employer’s confidential information in any section such as Comments etc.</li>
				</ul>
				<h2>What we ask of you</h2>
				<h3>Employees</h3>
				<ul>
					<li>On an average, please send at-least 7 compliments a week, to any deserving coworker or other professional contact who helped you in some way, to do your job well. 
			Example: Send compliments for Customer Service, Project Management, Web Design, Accounting and Easy to Work With etc skills.</li>
				</ul>
				<h3>Employers</h3>
				<ul>
					<li>Reward many, Reward often and Reward fairly.</li>
				</ul>
				<h3>Businesses</h3>
				<ul>
					<li>Send compliments to your best customers, but never spam them.</li>
					<li>Reward your customers for their loyalty and repeat business.</li>
					<li>Example: Send compliments for Repeat Business, Showing Patience etc skills.</li>
				</ul>
				<h3>Social / Personal Users</h3>
				<ul>
					<li>Send compliments to any deserving Friend, Relative, Business or Service Provider etc, for any help they provided in your day to day personal life.</li>
					<li>Example: Send compliments for Babysitting, Computer Lessons, Help with Moving, Good Partner, Good Parent, Driving Lessons, Real Estates Service, Plumbing Service etc skills.</li>
				</ul>
				<br />
				<p>It took us years to think through ComplimentKarma and to bring it to life. We are always open to your feedback and we hope that you enjoy using the service.</p>
			<br />
			Thank You and Happy Complimenting!<br />
			Aman Singh, Co-founder
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>