<div class="grid_16 main-content">
	<div class="about-container">
		<%= render 'pages/about_menu' %>
		<div class="about-content">
			<div style="margin-bottom: 20px;">
				<h1>What is ComplimentKarma?</h1>
				<p>
					ComplimentKarma is a cloud based application to Send / Receive Compliments (e.g. Thanks, Kudos, Good Job, Recommendation etc.) To / From your Professional and Personal (i.e. Social) contacts.
			  </p><br />
			  <p>
					Based on the compliments you Send / Receive from your coworkers and other job related external contacts (such as Company Clients, Vendors and Suppliers etc.), your Employer / Manager may choose to reward you with monetary Rewards.
				</p><br />
				<p>
					Based on the number of compliments, you will also earn various virtual Badges, Trophies and Certificates for different Skills. You will build your Proof of Experience, to help you with your future job endeavors. You own your profile even if you switch employers. 
				</p><br />
				<p>
					You can exchange compliments with your Professional contacts and your Personal/Social contacts for personal reasons. That is why you have 2 types of Profiles to keep your Professional and Social activity separate, and let you easily manage the visibility/privacy options of each.
				</p><br />
				<p>
					Employers / Managers can sign-up for advanced functionality to administer employee professional accounts, in addition to advanced analytics and rewards programs.
				</p>
				<h2>Is it Free to use ComplimentKarma?</h2>
				<p>
					Yes, ComplimentKarma is 100% Free to use for all Individuals accounts. You don’t need Credit/Debit card to use your personal account.
				</p><br />
				<p>
					Only those Employers / Managers who want to gain extra functionality to Administer their Employees / Teams, need to pay a nominal monthly fee, based on the number of Users they want to Administer.
				</p>
				<h2>What does each field in Compliment Module mean?</h2>
				<table>
					<tr>
						<td class="faq-label">To</td>
						<td class="faq-text">Name or Email of the Receiving User or Company. Yes, you can also send compliments to your favorite Companies, as each Company also has its own profile.
						</td>
					</tr>
					<tr>
						<td class="faq-label">Skill</td>
						<td class="faq-text">Particular Skill of the Receiver using which they performed some task/activity, for which you want to compliment them.</td>
					</tr>
					<tr>
						<td class="faq-label">Comment</td>
						<td class="faq-text">Short comment. Up to 100 characters. Must not contain any Employer sensitive information.</td>
					</tr>
					<tr>
						<td class="faq-label">Compliment Type</td>
						<td class="faq-text">
							<ul>
								<li style="margin-bottom: 10px;"><strong>Professional to Professional - </strong> From <u>Your Professional Profile</u> to the <u>Receiver’s Professional Profile</u></li>
								<li class="eg-text">e.g. Coworker to Coworker, Employee to Company’s Corporate Client / Vendor / Supplier etc (only work related compliments)<br />
									<ul style="color: #076191; margin-left: 30px;">
										<li style="list-style:disc;">Aman from ComplimentKarma compliments his coworker Mike for developing an awesome application.</li>
										<li style="list-style:disc;">Mike from ComplimentKarma compliments his Hosting Provider’s representative Becky for great customer service.</li>
										<li style="list-style:disc;">Judy from Retail Company compliments Robert from Media Company for running a successful media campaign, for Judy’s company.</li>
									</ul>
								</li>
								<br />
								<li style="margin-bottom: 10px;"><strong>Professional to Personal - </strong> From <u>Your Professional Profile</u> to <u>Receiver’s Personal Profile</u></li>
								<li class="eg-text">e.g. Employee to Individual Consumer, Company to Individual Consumer<br />
									<ul style="color: #076191; margin-left: 30px;">
										<li style="list-style:disc;">Aman from ComplimentKarma compliments his site’s top user Jessica for being a committed user.</li>
										<li style="list-style:disc;">Jason from Real Estate Company compliments his customer Linda for using Jason’s services.</li>
										<li style="list-style:disc;">Matt from popular Restaurant compliments his regular customers for continued patronage.</li>
									</ul>
								</li>
								<br />
								<li style="margin-bottom: 10px;"><strong>Personal to Professional - </strong> From <u>Your Personal Profile</u> to <u>Receiver’s Professional Profile</u></li>
								<li class="eg-text">e.g. Individual Consumer to a Company Employee, Individual to Company<br />
									<ul style="color: #076191; margin-left: 30px;">
										<li style="list-style:disc;">Vicky compliments Aman from ComplimentKarma for acting quickly on her feedback.</li>
										<li style="list-style:disc;">Randy compliments Company Groupon for providing awesome deals.</li>
										<li style="list-style:disc;">Ruby compliments Scott from Hair Salon for giving her that beautiful haircut.</li>
									</ul>
								</li>
								<br />
								<li style="margin-bottom: 10px;"><strong>Personal to Personal - </strong> From <u>Your Personal Profile</u> to <u>Receiver’s Personal Profile</u><br />
								<li class="eg-text">e.g. Friend to Friend, Relative to Relative<br />
									<ul style="color: #076191; margin-left: 30px;">
										<li style="list-style:disc;">Brian compliments his coworker Alexandra on her basketball skills.</li>
										<li style="list-style:disc;">Maria compliments her fiancé Mike for planning that awesome birthday party for her.</li>
										<li style="list-style:disc;">Jimmy compliments his friend John for help with moving.</li>
									</ul>
								</li>
							</ul>
						</td>
					</tr>
				</table>
				<h2>How can I send a Compliment?</h2>
				<p>Following are the currently available ways to send compliments:</p>
				<ol>
					<li>From the drop-down Compliment Module available on most pages.</li>
					<li>By copying <strong><%= receiving_email %></strong> in an email you are sending to the Compliment Receiver.
						
						<p><br />
							- Skill of the Receiver you want to compliment must be entered in caret sign 
							(by pressing “shift + 6” on your keyboard), e.g.
						</p>
						<p class="eg-text">^Sales^</p>
						<p class="eg-text">^Customer Service^</p>
						<p class="eg-text">^Project Management^</p>
						<br />
						<p>
							- The compliment type must also be entered in caret sign, e.g. 
						</p>
						<p class="eg-text">^Professional to Professional^ OR ^Pro to Pro^</p>
						<p class="eg-text">^Professional to Personal^ OR ^Pro to Per^</p>
						<p class="eg-text">^Personal to Professional^ OR ^Per to Pro^</p>
						<p class="eg-text">^Personal to Personal^ OR ^Per to Per^</p>
						<br />
						<p>- Following is an example compliment sent by email:</p>
						<p><strong>To:</strong> Mike@complimentKarma.com, <%= receiving_email %></p>
						<p><strong>Subject:</strong> Any subject</p>
						<p><strong>Comment:</strong> Mike, Thanks a lot for all the help with ^Ruby on Rails^ web development. ^Pro to Pro^.</p>
					</li>

				</ol>
				<h2>Who can I Send / Receive compliments To / From?</h2>
				<p>As ComplimentKarma is available to for both Professional and Personal (i.e. Social) usage, so you can exchange compliments with anyone. Some examples of exchanges between users are as following:</p>
				<ul>
					<li>Coworker to Coworker</li>
					<li>Company Employee to/from Company Customers, Vendors and Suppliers</li>
					<li>Individual Consumer to/from Company</li>
					<li>Individual Consumer to/from Company Employee</li>
					<li>Company to Company</li>
					<li>Friend to Friend</li>
					<li>Relative to Relative</li>
				</ul>
				<h2>Can I share my Activity & Achievement like Compliments, Badges, Trophies and Rewards etc, on other sites?</h2>
				<p>Absolutely yes, there are various options available for you to share your activity through email and other social networks like Facebook, Twitter and Google Plus etc.</p>
			</div>
		</div>
	</div>
</div>