<div class="grid_16 main-content">
	<div id="learn-content">
		<%= image_tag 'learn.png', :width => '600' %>
		<div style="margin-top: 10px;">
			<h2>Your Benefits</h2>
			<h4 style="margin-top: 15px;">Benefits for Employees:</h4>
			<ul>
				<li>100% <strong>free</strong> and simple to use</li>
				<li>Earn <strong>monetary rewards</strong> from your employer</li>
				<li>Build your <strong>proof of experience</strong>, which will help you throughout your professional career</li>
				<li>Gain <strong>Reputation</strong>, <strong>Visibility</strong>, 
					and <strong>Credit</strong> for the value you add to your workplace</li>
				<li>Share your achievements with everybody</li>
				<li>Enhance your social and professional <strong>reputation</strong> while making your 
					<strong>relationships</strong> even <strong>stronger</strong></li>
				<li>Experience a fun and easy way to recognize your fellow employees</li>
				<li>Highly secure platform with fully customizable <strong>privacy</strong> and 
					<strong>sharing options</strong></li>
			</ul>
			<h4 style="margin-top: 15px;">Benefits for Employers & Managers:</h4>
			<ul id="learn-list" style="margin-bottom: 30px;">
				<li><strong>Reward</strong> employees <strong>at any time</strong> and <strong>for any amount</strong>, with the click of a button</li>
				<li><strong>Managers</strong> who reward their employees 
					<strong>earn</strong> additional achievements, to showcase on 
					<strong>their own profiles</strong></li>
				<li>Improve employee satisfaction by rewarding them, using our 
					<strong>easy to use</strong> reward center</li>
				<li>Grow your <strong>company’s reputation</strong> by showcasing your company’s achievements, on any website</li>
				<li>Flexible monthly subscription plans, with no long term contracts required. <strong>Cancel anytime</strong></li>
				<li>Print and distribute <strong>achievement certificates</strong></li>
				<li>Reward your employees <strong>by department</strong>, team and performance etc</li>
				<li>Create a <strong>positive work culture</strong> by nurturing your talent pool</li>
				<li>Reduce “brain drain” by keeping your employees happy</li>
				<li><strong>Attract top talent</strong> by earning a solid reputation as an employer who cares and rewards</li>
				<li>Setup <strong>auto rewards</strong> and controls to automate the entire process</li>
				<li>Access on demand Intelligent reporting</li>
				<li><strong>Highly secure</strong> platform with fully customizable privacy and sharing options</li>
				<li>Fit for all team sizes. Sign up for just one team or whole company</li>
			</ul>
		</div>
	</div>
</div>
