<div class="grid_16 main-content">
	<div class="about-container">
		<%= render 'pages/about_menu' %>
		<div class="about-content">
			<div>
				<h1>Team</h1>
			</div>
			<div style="margin-top: 10px;">
		  	<div class="personal-team-container">
		  		<div class="picture-container">
		  			<%= image_tag 'team/aman.png', :width => '200' %>
		  		</div>
		  		<div class="info-container">
						<strong>Aman Singh</strong><br/>
						(Founder)<br/>
						Chicago, IL<br/>
						<br/>
					</div>
					<div class="clear"></div>
					<span style="font-size:12px; font-style: italic;">
					Being a Business Intelligence Consultant, I have worked with various companies in different verticals. During my career, I have had the opportunity to work and learn from lots of amazingly smart and dedicated colleagues, which has helped me grow professionally and as a human being. This venture is my effort to give back to all those people and bring more positivity to every work culture.
					</span>
				</div>
		  	<div class="personal-team-container" style="margin-left: 50px;">
		  		<div class="picture-container">
		  			<%= image_tag 'team/mike.png', :width => '200' %>
		  		</div>
		  		<div class="info-container">
						<strong>Mike Hoitomt</strong><br/>
						(Founder)<br/>
						Eau Claire, WI<br/>
						<br/>
					</div>
					<div class="clear"></div>
					<span style="font-size:12px; font-style: italic;">
					Being in IT for years, I shared Aman's sentiment about the need to bring positivity to every workplace. I really liked the idea of using meaningful gamification, in devising the solution. From day 1 our goal has been to provide real tangible benefits to our users, instead of just fluff.
					</span>
				</div>
				<div class="clear"></div>
			</div>
				<div class="clear"></div>
			<h2>Why we started ComplimentKarma?</h2>
			<div style="font-size:15px;">
				While working in different companies, we noticed that on day to day basis whenever employees help each other with a problem or task, they usually send an email, IM or just swing by each otherís desk to thank them, for the help they provided. Although this nice gesture of complimenting each other really make us feel good that coworkers appreciate our work, and provides a confirmation that we do add some value which helps others, but other than conveying this good feeling for a few moments these compliments donít really do much after that. These remain locked in the email or messenger waiting to be archived and never reach their full potential. Now think about the thousands of compliments earned by a professional like you, over the course of professional career.
				<br/><br/>
				More we discussed about this problem, more potential benefits we found waiting to be unlocked, by solving it. That is when we came up with the idea of ComplimentKarma.com. We thought what if we give all professionals a way to compliment each other. Not just a compliment but a quantifiable social compliment which stays with them forever, irrespective of the place they work at, and starts helping them immediately by letting them Earn Reputation, Cash Rewards and build long term Proof of Experience.
			</div>
			<div style="margin-top: 10px;">
				<h2>Problems we want to solve</h2>
				<ul style="font-size:15px;">
					<li>Thousands of compliments and thank you messages earned by professionals over the course of their professional careers stay locked in their emails and messengers, waiting to be archived and never reaching their full potential
					</li>
					<li>Most reward system put in place by companies are totally closed applications, that do not let employees take away their earned compliments and reputation with them, when they switch jobs, which prevents them from building their proof of experience. It also prevents employers from reaching an easy and reliable means of verifying a candidateís experience.
					</li>
					<li>Need a means to ease off steam and break the ice, to pave way for a more positive work culture
					</li>
					<li>Employee satisfaction is a huge metric which is totally ignored in many workplaces. Most importance is paid at sales, customer satisfaction and retention etc, but never on the employeeís satisfaction that directly drives all aspects of business including sales and customer service etc
					</li>
					<li>Many times, employees who go out of their way to help others don't get much in return, or at least nothing strong enough to help them with their careers, reputation or provide a monetary value
					</li>
					<li>Companies don't have a easy way of finding and rewarding the employees who add extra value to their company productivity and work culture
					</li>
					<li>Hiring managers have problem in verifying the skill set and experience for potential candidates during hiring process
					</li>
					<li>A perfect resume may not be enough to really validate what are the most solid skills of a professional
					</li>
					<li>Some candidates have tough time in conveying to hiring managers about what they have done during their past jobs and how can that be applied at the new job, which may sometimes be due to candidates not having good enough sales skills
					</li>
					<li>Phone reference checks sometimes may not be that reliable</li>
				</ul>
			</div>
			<div style="margin-top: 10px;">
				<h2>Solution to the Problems</h2>
				<ul style="font-size:15px;">
					<li>Provide a top notch solution through ComplimentKarma.com, which offers a ìWin - Winî opportunity for all Employees and Employers. The end product of using ComplimentKarma must be a highly positive and harmonious work culture, where everybody is glad to help each other</li>
					<li>Must let employees earn provable reputation in the form of socially sharable Compliments, Certificates, Proof of Experience, Rewards, Badges and Trophies etc</li>
				</ul>
				<div>
					<br/>
					<div>
						<table valign=top class="team-table">
							<tr>
								<td style="padding:10px;">
									<h3>Benefits for Employees</h3>
									<ul style="font-size:15px;">
										<li>100% Free</li>
										<li>Build Proof of Experience</li> 
										<li>Earn Cash Rewards</li>
										<li>Earn Trophies & Badgea</li>
										<li>Grow your reputation</li>
										<li>Share your achievements</li>
										<li>Stand out of the crowd</li>
										<li>Make work more fun</li>
									</ul>
								</td>
								<td style="padding:10px;">
									<h3>Benefits for Employers</h3>
										<ul style="font-size:15px;">
											<li>Improve employee satisfaction  </li>
											<li>Grow company reputation  </li>
											<li>Reward your employees  </li>
											<li>Highly positive work culture  </li>
											<li>Reduce brain drain  </li>
											<li>Attract top talent  </li>
											<li>Simplified employee rewards  </li>
											<li>Performance tracking & reporting </li>
										</ul>
									</td>
								</tr>
							</table>
						</div>
						<br/>
					<div>
						It took us years to think through and pass all the hurdles of bringing ComplimentKarma to life. We are always listening to your candid feedback and hope that your really get the intended value out of this.
						<br/><br/>
						Happy Complimenting!
					</div>
			  </div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>