<div class="grid_16 main-content">
	<div class="about-container">
		<%= render 'pages/about_menu' %>
		<div class="about-content">
			<div>
				<h1>Team</h1>
			</div>
			<div style="margin-top: 10px;">
		  	<div class="personal-team-container">
		  		<div class="picture-container">
		  			<%= image_tag 'team/aman.png', :width => '200' %>
		  		</div>
		  		<div class="info-container">
						<strong>Aman Singh</strong><br/>
						(Founder)<br/>
						Chicago, IL<br/>
						<br/>
					</div>
					<div class="clear"></div>
					<span style="font-size:12px; font-style: italic;">
					Being a Business Intelligence Consultant, I have worked with various companies in different verticals. During my career, I have had the opportunity to work and learn from many amazingly smart and dedicated colleagues, which has helped me grow professionally and as a human being. This venture is my effort to give back to all those people and bring more positivity to every work culture.
					</span>
				</div>
		  	<div class="personal-team-container" style="margin-left: 50px;">
		  		<div class="picture-container">
		  			<%= image_tag 'team/mike.png', :width => '200' %>
		  		</div>
		  		<div class="info-container">
						<strong>Mike Hoitomt</strong><br/>
						(Founder)<br/>
						Eau Claire, WI<br/>
						<br/>
					</div>
					<div class="clear"></div>
					<span style="font-size:12px; font-style: italic;">
					Being in IT for years, I shared Aman's sentiment about the need to bring positivity to every workplace. I really liked the idea of using meaningful gamification, in devising the solution. From day 1 our goal has been to provide real tangible benefits to our users, instead of just fluff.
					</span>
				</div>
				<div class="clear"></div>
			</div>
				<div class="clear"></div>
			<h2>Why we started ComplimentKarma?</h2>
			<div style="font-size:15px;">
				While working in different companies we have noticed that appreciation is typically expressed through email, IM, or in person. On day to day basis coworkers show appreciation towards each other for assistance with various problems and tasks. While it feels good to be appreciated for our work, we thought it would be great if those compliments and gestures could be unlocked and quantified in some way. Now think about the thousands of compliments earned by a professional like you, over the course of career.
				<br/><br/>
				The more we discussed this problem, the more potential benefits we found waiting to be unlocked. That is when we came up with ComplimentKarma.com. We thought: "What if we give all professionals a way to compliment each other". Not just a compliment but a quantifiable social compliment which stays with them forever, regardless of their employer. The compliments that you have received throughout your career are used to Earn Reputation, earn employer-sponsored Cash Rewards and build long term Proof of Experience.
			</div>
			<div style="margin-top: 10px;">
				<h2>Problems we want to solve</h2>
				<ul style="font-size:15px;">
					<li>Thousands of compliments and thank you messages earned by professionals over the course of their professional careers stay locked in their emails and messengers, waiting to be archived and never reaching their full potential
					</li>
					<li>Most reward systems put in place by companies are completely closed applications. They do not let employees take their earned compliments and reputation with them when they switch jobs. This lack of portability prevents employees from building their proof of experience. It also prevents employers from having an easy and reliable means of verifying a candidate's experience.
					</li>
					<li>Employee satisfaction is a huge metric which is largely ignored in many workplaces. Importance is placed on more easily measureable goals such as sales, customer satisfaction and employee retention. However employee satisfaction directly drives all aspects of business including sales and customer service etc
					</li>
					<li>Employees who go out of their way to help others aren't fully recognized for their contributions. There hasn't been a way to quantify their assistance into something that can help them with their careers, build their reputation or provide a monetary value
					</li>
					<li>Companies don't have a easy way of finding and rewarding the employees who add extra value to their company productivity and work culture
					</li>
					<li>Hiring managers have trouble verifying the skill set and experience for potential candidates during hiring process
					</li>
					<li>A perfect resume is not be enough to validate a professional's skills
					</li>
					<li>Some candidates have a tough time conveying their experience to hiring managers. They aren't able to easily translate how the skills from a previous position can be applied to a new position. Instead it becomes a competition between who can sell themselves the best, rather than who is the best fit for the postion.
					</li>
					<li>Phone reference checks aren't always reliable</li>
				</ul>
			</div>
			<div style="margin-top: 10px;">
				<h2>Solution to the Problems</h2>
				<ul style="font-size:15px;">
					<li>Provide a top notch solution through ComplimentKarma.com, which offers a Win - Win opportunity for Employees and Employers. The end product of using ComplimentKarma will be a highly positive and harmonious work culture, where everybody is happy to help each other</li>
				</ul>
				<div>
					<br/>
					<div>
						<table valign=top class="team-table">
							<tr>
								<td style="padding:10px;">
									<h3>Benefits for Employees</h3>
									<ul style="font-size:15px;">
										<li>100% Free</li>
										<li>Build Proof of Experience</li> 
										<li>Earn Cash Rewards</li>
										<li>Earn Trophies & Badges</li>
										<li>Grow your reputation</li>
										<li>Share your achievements</li>
										<li>Stand out of the crowd</li>
										<li>Make work more fun</li>
									</ul>
								</td>
								<td style="padding:10px;">
									<h3>Benefits for Employers</h3>
										<ul style="font-size:15px;">
											<li>Improve employee satisfaction</li>
											<li>Grow company reputation</li>
											<li>Reward your employees</li>
											<li>Highly positive work culture</li>
											<li>Reduce brain drain</li>
											<li>Attract top talent</li>
											<li>Simplified employee rewards</li>
											<li>Performance tracking & reporting</li>
										</ul>
									</td>
								</tr>
							</table>
						</div>
						<br/>
					<div>
						It took us years to think through ComplimentKarma and to bring it to life. We are always open to your feedback and we hope that you enjoy using the service.
						<br/><br/>
						Happy Complimenting!
					</div>
			  </div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>