<div id="signup" class="grid_8 box">
	<div class="header">
		<h2>Invite a coworker</h2>
	</div>
	<div class="clear"></div>
	<%= form_for(@invitation, :validate => true, :html => {:id => 'signup-form'}) do |f| %>
		<fieldset>
			<div id="data-entry" class="clearfix">
				<div id="label"><%= f.label :invite_email, "Coworker Email" %></div>
				<div id="field"><%= f.text_field :invite_email %>
					<div id="user_email_helper" class="helper">
						e.g. coworker@yourcompany.com
					</div>
					<div id="user_email_error"></div>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div>
				<button class="sign-up" type=submit>Send Invitation</button>
			</div>
		</fieldset>
	<% end %>
</div>