<% if filter.blank? %>
	<span style="font-weight: bold; margin-left: 15px;">
<% else %>
	<span style="margin-left: 15px;">
<% end %>
<%= link_to "All (#{user_contacts_count})",  
						user_contacts_path(user),
						:class => "ul_hover",
						:remote => true %>
</span>
<% groups.try(:each) do |group| %>
	<% if group.id == filter.to_i %>
		<span style="font-weight: bold; margin-left: 15px;">
	<% else %>
		<span style="margin-left: 15px;">
	<% end %>
	<%= link_to "#{group.name} (#{group_counts[group.id]})", 
							user_contacts_path(user, :filter => group.id),
							:class => "ul_hover",
							:remote => true %>
	</span>
<% end %>
<div class="clear"></div>