<% contacts.try(:each) do |contact| %>
	<% user = contact.user %>
	<div class="contact">
		<div class="photo">
			<%= image_tag user.photo.url(:thumb) %>
		</div>
		<div class="info">
			<%= user.first_name %><br />
			<%= user.last_name %>
		</div>
		<div class="clear"></div>
	</div>
<% end %>