<% if current_user.blank? %>
	<div style="float: right; margin: 10px 10px 0 0;">
		<span class='st_facebook'></span>
		<span class='st_twitter'></span>
		<span class='st_linkedin'></span>
		<span class='st_plusone'></span>
		<span class='st_email'></span>
		<span class='st_sharethis'></span>
	</div>
<% end %>