<li class="social-popup">
	<span class='st_facebook_hcount' displayText='Facebook'></span>
</li>
<li class="social-popup">
	<span class='st_twitter_hcount' displayText='Tweet'></span>
</li>
<li class="social-popup">
	<span class='st_linkedin_hcount' displayText='LinkedIn'></span>
</li>
<li class="social-popup">
	<span class='st_plusone_hcount' displayText='Google +1'></span>
</li>
<li class="social-popup">
	<span class='st_email_hcount' displayText='Email'></span>
</li>
<div class="clear"></div>