<li class="no-hover">
	<%#= render 'social/facebook_iframe_nocount', { :recognition_type_id => recognition_type_id,
																				 :recognition_id => recognition_id } %>
</li>
<li class="no-hover">
	<%= render 'social/twitter_iframe', { :recognition_type_id => recognition_type_id,
																			:recognition_id => recognition_id }  %>
</li>
<li class="no-hover">
	<%= render 'social/google_link', { :recognition_type_id => recognition_type_id,
																		 :recognition_id => recognition_id }  %>
</li>