<li class="no-hover">
	<fb:like href="<%= social_link(recognition) %>" 
			 send="false" 
			 layout="button_count" 
			 width="450" 
			 show_faces="false">
	</fb:like>
</li>
<li class="no-hover">
	<% if iframe %>
		<%#= render 'social/twitter_iframe', { :recognition_type_id => recognition_type_id,
																			:recognition_id => recognition_id }  %>
	<% else %>
		<%#= render 'social/twitter_link', { :recognition_type_id => recognition_type_id,
																			:recognition_id => recognition_id,
																			:show_count => show_count }  %>
  <% end %>
</li>
<li class="no-hover">
	<%#= render 'social/google_link_no_js', { :recognition_type_id => recognition_type_id,
																		 			 :recognition_id => recognition_id }  %>
</li>
<%= render 'social/facebook_javascript' %>