<li class="no-hover">
<div class="fb-like" 
		 data-href="http://www.complimentkarma.com/recognitions/1/312<%#= social_link(recognition) %>" 
		 data-send="false" 
		 data-layout="button_count" 
		 data-width="100" 
		 data-show-faces="false">
</div>
</li>
<li class="no-hover">
	<% if iframe %>
		<%#= render 'social/twitter_iframe', { :recognition_type_id => recognition_type_id,
																			:recognition_id => recognition_id }  %>
	<% else %>
		<%#= render 'social/twitter_link', { :recognition_type_id => recognition_type_id,
																			:recognition_id => recognition_id,
																			:show_count => show_count }  %>
  <% end %>
</li>
<li class="no-hover">
	<%#= render 'social/google_link_no_js', { :recognition_type_id => recognition_type_id,
																		 			 :recognition_id => recognition_id }  %>
</li>
<%= render 'social/facebook_javascript' %>