<% if current_user && (current_user.id == 2 || current_user.id == 4) %>
	<li class="no-hover">
			<%= render 'social/facebook_iframe', :recognition => recognition %>
	</li>
	<li class="no-hover">
			<%= render 'social/twitter_iframe', :recognition => recognition  %>
	</li>
	<li class="no-hover">
		<div class="g-plusone" data-size="medium" data-href="<%= recognition.public_url %>"></div>
	</li>
	<li class="no-hover">
		<%= render 'social/linked_in_button', :recognition => recognition %>
	</li>
<% end %>

<!-- Google Plus One -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Linked In -->
<script>
	// remove previously loaded LI scripts - sort of works
	window.IN = undefined;
</script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>