<% if current_user && (current_user.id == 2 || current_user.id == 4) %>
	<li class="no-hover">
			<%= render 'social/facebook_iframe', :recognition => recognition %>
	</li>
	<li class="no-hover">
			<%= render 'social/twitter_iframe', :recognition => recognition  %>
	</li>
	<li class="no-hover">
		<div class="g-plusone" data-size="medium"></div>
	</li>
<% end %>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>