<% if current_user && (current_user.id == 2 || current_user.id == 4) %>
	<li class="no-hover">
			<%= render 'social/facebook_iframe', :recognition => recognition %>
	</li>
	<li class="no-hover">
			<%= render 'social/twitter_iframe', :recognition => recognition  %>
	</li>
	<li class="no-hover">
		<%= render 'social/google_link_no_js', :recognition => recognition %>
	</li>
<% end %>