<a href="https://twitter.com/share" 
	 class="twitter-share-button" 
	 data-url="<%= social_link(recognition_type_id, recognition_id) %>"
	 <% unless show_count %>
	 	data-count="none"
	 <% end %>
	 data-via="ComplimentKarma" >Tweet</a>
	 
