<% if comments %>
	<% comments.each do |comment| %>
		<% u = User.find_by_id(comment.user_id)%>
		<li class="clearfix">
			<div class="comment-photo">
				<%= get_user_photo_link_mini(u) %>
			</div>
			<div class="comment-text">
				<h4><%= link_to get_user_full_name(u), u, :class => "black hover-blue" %></h4>
				<p><%= comment.comment %></p>
			</div>
			<div class="comment-timestamp">
				<%= timestamp(comment.updated_at) %>
			</div>
		</li>
	<% end %>
<% end %>