<div id="slide-employee">
	<p class="slide-header">How it works for Employees</p>
	<div style="margin-top: 25px" class="clear"></div>
	
	<div class="slide-component">
		<div class="header-text">
			<span class="image-header_number">1.</span>Send Compliments
		</div>		
		<div class="image">
			<%= image_tag 'slider/send_compliment.png' %>
		</div>
		<div class="image-comment">
			Appreciate your professional contacts for doing their job well, by sending them compliments
		</div>
	</div>
	
	<div class="slide-component">
		<div class="header-text">
			<span class="image-header_number">2.</span>Receive Compliments
		</div>
		<div class="image">
			<%= image_tag "slider/get_compliment.png", :style => "margin-top: 8px;" %>
		</div>
		<div class="image-comment">
			Receive compliments from your professional contacts, for doing your job well
		</div>
	</div>
	
	<div class="slide-component">
		<div class="header-text">
			<span class="image-header_number">3.</span>Earn Rewards
		</div>
		<div class="image">
			<%= image_tag "slider/get_reward.png" %>
		</div>
		<div class="image-comment">
			Earn <strong>Monetary Rewards</strong>, <strong>Reputation</strong> &amp; 
			<strong>Proof of Experience</strong>, based on your compliment score
		</div>
	</div>
</div>