<div id="slide-employer">
	<p class="slide-header">How it works for <strong>Employers</strong></p>
	<div style="margin-top: 25px" class="clear"></div>
	
	<div class="slide-component">
		<div class="header-text">
			<span class="image-header_number">1.</span>Watch productivity Grow
		</div>		
		<div class="image">
			<%= image_tag "slider/slider_employer_img_1.png" %>
		</div>
		<div class="image-comment">
			Review reports, graphs to see employee achievements and overall positivity generated
		</div>
	</div>
	
	<div class="slide-component">
		<div class="header-text">
			<span class="image-header_number">2.</span>Reward the Productive
		</div>
		<div class="image">
			<%= image_tag "slider/slider_employer_img_2.png" %>
		</div>
		<div class="image-comment">
			Reward, recognize top performers, to further improve employee satisfaction
		</div>
	</div>
	
	<div class="slide-component">
		<div class="header-text">
			<span class="image-header_number">3.</span>Positive Work Culture
		</div>
		<div class="image">
			<%= image_tag "slider/slider_employer_img_3.png" %>
		</div>
		<div class="image-comment">
			Reap the rewards of a highly productive, motivated and positive workforce
		</div>
	</div>
</div>
