<% if current_user %>
	<% if @my_update_items_count && @my_update_items_count > 0 %>
		<%= link_to my_updates_path(:id => current_user.id), 
															 :class => 'header-update-link', 
															 :remote => true do %>
			<div class="header-updates clearfix">
				<div class="header-update-indicator"></div>
				<div id="update-history-count" class="header-update-count">
					<%= @my_update_items_count %>
				</div>
			</div>
		<% end %>
	<% else %>
		<%= link_to my_updates_path(:id => current_user.id), 
															 :class => 'header-update-link', 
															 :remote => true do %>
			<div class="header-updates clearfix">
				<div class="header-update-indicator"></div>
				<div id="update-history-count"></div>
			</div>
		<% end %>
	<% end %>
<% end %>