<% if page_owner?(@user) %>
	<% if @user.is_a_company? && current_user.is_company_administrator?(@user.company.id) %>
		<% x_user = @user %>
	<% else %>
		<% x_user = current_user %>
	<% end %>
	<% if @my_update_items_count > 0 %>
		<%= link_to my_updates_path(:id => x_user.id), 
															 :class => 'header-update-link', 
															 :remote => true do %>
			<div class="header-updates clearfix">
				<div class="header-update-indicator"></div>
				<div id="update-history-count" class="header-update-count" >
					<%= @my_update_items_count %>
				</div>
			</div>
		<% end %>
	<% else %>
		<%= link_to my_updates_path(:id => x_user.id), 
															 :class => 'header-update-link', 
															 :remote => true do %>
			<div class="header-update-indicator"></div>
		<% end %>
	<% end %>
<% end %>