<% if item.recognition_type_id == RecognitionType.COMPLIMENT.id %>
	<% compliment = Compliment.find_by_id(item.recognition_id) %>
	<div class="my-update-compliment">
		<div class="my-update-compliment-comment">
			<p><%= compliment_text(compliment) %></p>
		</div>
	</div>
	<div class="my-update-all-compliment-type-skill">
		<span style="margin-right: 15px"><%= compliment_type(compliment) %></span>
		<%= compliment_skill(compliment) %>
	</div>
<% end %>