<div id="karma-live-updates" class="right-two-thirds">
	<ul id="feed-items">
		<%#= render 'users/panels/debug' %>
		<%= render 'users/panels/karma_live_updates' %>
	</ul>
	<div id="infinite-scroll-processing">
		Loading Records &nbsp; <%= image_tag('ajax-loader.gif') %>
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		UserProfile.infiniteScrolling()
	})
</script>