<script>
	$(function() {
		$('li.user-group').each(function(){
			var contact = new Contact(this);
		});
	});
</script>
<div id="user-profile">
	<div id="user-overview" class="right-two-thirds drop-box-white clearfix">
		<div id="user-profile-details" class="first-row clearfix container">
			<h1>Privacy Settings</h1>
			<p><strong>Who can see my Profile and Activity </strong>
				(Compliments, Achievements, Rewards, etc.</p>
			<ul id="user-privacy">
				<% @groups.try(:each) do |g| %>
					<% next unless g.display? %>
					<li id="<%= g.id %>" class="user-group">
						<div class="group-info">
							<%= g.name %>
						</div>
						<div class="group-visibility">
							<div class="show-popup show-tag-groups">
								<div style="float: left; color:blue;">
									<div style="float: left; margin-right: 5px;">&#9660;</div>
									<div id="csv-list-groups" style="float: left;"><%= super_group_list(g) %></div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="hover-container">
						</div>
						<div class="popup">
							<%= render :partial => 'users/privacy/popup',
												 :locals => {:groups => @groups,
												 						 :subject_group => g} %>
 						</div>
						<div class="clear"></div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>