<script>
	$(function() {
		$('li.user-group').each(function(){
			var contact = new Contact(this);
		});
	});
</script>
<div id="user-profile">
	<div id="user-overview" class="right-two-thirds drop-box-white clearfix">
		<div id="user-profile-details" class="first-row clearfix container">
			<h1>Privacy Settings</h1>
			<p><strong>Which contacts can see your items</strong></p>
			<ul id="user-privacy">
				<% @groups.try(:each) do |g| %>
					<p><%#= g.name %></p>
					<% next unless g.display? %>
					<li class="user-group">
						<div class="group-info">
							<%= g.name %>
						</div>
						<div class="hover-container">
							<div class="show-popup show-tag-groups">
								<span style="color:#bbb;">&#9660;</span>
							</div>
						</div>
						<%= render :partial => 'users/privacy/popup',
											 :locals => {:groups => @groups,
											 						 :subject_group => g} %>
						<div class="clear"></div>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>