<div id="user-profile">
	<div id="user-overview" class="right-two-thirds drop-box-white clearfix">
		<div id="user-profile-details" class="first-row clearfix container">
			<h1>Account Settings</h1>
			<ul id="account-settings">
				<li><%#= link_to 'Privacy Settings', '#' %></li>
				<li><%= link_to 'Email Preferences', user_emails_path, :remote => true %></li>
			</ul>
			<% if view_state(@user) == view_state_company_manager %>
				<h2>Departments</h2>
				<% unless @departments.blank? %>
					<table>
						<tr>
							<th>Name</th>
							<th>Manager</th>
						</tr>
						<% @departments.each do |department| %>
							<tr>
								<td><%= department.name %></td>
								<td><%= department.manager %></td>
							</tr>
						<% end %>
					</table>
					<%= link_to 'New Department', new_company_department_path(:company_id => @company.id) %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>