<table cellpadding="0px" cellspacing="0px" style="font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif; background-color:#DCF1EF; border-radius:8px;">
  <tr>
    <td style="width:270px; padding:30px 0 0 30px;"></td>
		<td style="width:270px; padding:30px 30px 0 0;">
			<%= image_tag 'https://s3.amazonaws.com/compliment_karma_dev/logo/ck_logo.png' %>
		</td>
  </tr>
  <tr>
    <td colspan=2 style="width:540px; padding:0 30px 30px 30px;">
			A request was received at <%= @params['Date'] %> attempting to use the 
			Compliment Karma email API to send a compliment. This may be an innocent
			mistake or it may have malicious intent. Please review the request below
			for further information

			<%= @params.inspect %>

			<br/><br/>
			Sincerely,
			<br/><br/>
			Customer Service Team<br/>
			ComplimentKarma.com<br/>
			info@ComplimentKarma.com<br/>
		</td>
	</tr>

</table>