<table cellpadding="0px" cellspacing="0px">
  <tr>
    <td colspan=2 style="width:540px; padding:0 30px 30px 30px;">
		  Hi <%= @user.first_last %>,
			<br/><br/>
			The compliment that you sent to <%= @compliment.receiver_email %> did not specify a skill. Please visit your 
			account to correct the issue.
			<br/><br/>
			<%= link_to 'Click here to visit your account', @user %>
			<br/><br/>
			<p><strong>Why is a skill selection important</strong>
				ComplimentKarma uses the skill that you specify in your compliment to properly categorize the compliments
				that our customers receive.  It is important that the skills be correctly categorized so that our 
				customers can receive rewards and build credibility for the skills that they posess. Thank you for your
				understanding and your assistance in making ComplimentKarma great!
			</p>
			Sincerely,
			<br/><br/>
			Customer Service Team<br/>
			ComplimentKarma.com<br/>
			info@ComplimentKarma.com<br/>
		</td>
	</tr>

</table>