<table cellpadding="0px" cellspacing="0px" style="font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif; background-color:#DCF1EF; border-radius:8px;">
  <tr>
    <td style="width:270px; padding:30px 0 0 30px;"></td>
		<td style="width:270px; padding:30px 30px 0 0;">
			<%= image_tag 'https://s3.amazonaws.com/compliment_karma_dev/logo/ck_logo.png' %>
		</td>
  </tr>
  <tr>
    <td colspan=2 style="width:540px; padding:0 30px 30px 30px;">
		  Hi <%= @user.first_name %>,
			<br/><br/>
			You are attempting to send a compliment but you have not confirmed your ComplimentKarma account yet.
			Please click or paste the following url in your browser to activate your account:
			<br/><br/>
			<%= link_to new_account_confirmation_url(@user.new_account_confirmation_token), 
									new_account_confirmation_url(@user.new_account_confirmation_token),
								  :style => "font-size:14px;" %>
			<br/><br/>
			Sincerely,
			<br/><br/>
			Customer Service Team<br/>
			ComplimentKarma.com<br/>
			info@ComplimentKarma.com<br/>
		</td>
	</tr>

</table>