<table cellpadding="0px" cellspacing="0px">
  <tr>
    <td colspan=2 style="width:540px; padding:0 30px 30px 30px;">
		  Hi,
			<br/><br/>

			You have attempted to use ComplimentKarma but we do not show you as a registered user. 
			If you would like to learn more about ComplimentKarma please check us out at 
			<%= link_to 'http://www.complimentkarma.com', 'http://www.complimentkarma.com' %>
			<br /><br />
			If you believe this is an error, please notify us at 
			<%= mail_to 'info@complimentkarma.com', 'info@complimentkarma.com' %>

			<br/><br/>
			Sincerely,
			<br/><br/>
			Customer Service Team<br/>
			ComplimentKarma.com<br/>
			info@ComplimentKarma.com<br/>
		</td>
	</tr>

</table>