Hi!<br />
You have received a compliment from <%= @compliment.sender_email %>

<h2><%= @compliment.comment %></h2>
for
<h2><%= @compliment.skill %></h2>

Please sign up for an account to receive you compliments by clicking on the following link <br />

<%= link_to 'Sign Up', signup_url %>