Hi!<br />
Thank you for using Compliment Karma

You have attempted to send a compliment to <%= @compliment.receiver_email %>

<h2><%= @compliment.comment %></h2>
for
<h2><%= @skill.name if @skill %></h2>

Please confirm your account to send your compliments by clicking on the following link <br />

<%= new_account_confirmation_url(@sender.new_account_confirmation_token) %>

Once you confirm your account all of the compliments that you have entered will
be sent to their recipients.