Hi!<br />
Thank you for using Compliment Karma

You have entered a new compliment to <%= @compliment.receiver_email %>

<h2><%= @compliment.comment %></h2>
for
<h2><%= @compliment.skill %></h2>

Please sign up for an account to send your compliments by clicking on the following link <br />

<%= link_to 'Sign Up', signup_url %>

Once you sign up for, and confirm your account all of the compliments that you have entered will
be sent to their recipients.