unregistered_user_api_access.html.erb
<p>
	A request was received at <%= params['Date'] %> attempting to use the 
	Compliment Karma email API to send a compliment. This may be an innocent
	mistake or it may have malicious intent. Please review the request below
	for further information
</p>
<br />
<p>Love,</p>
<p>The Server</p>

<%= params.inspect %>