<script type="text/javascript">
	$(function() {
		UserProfile.followButtonHover();
	})
</script>
<div id="follows-button-<%= user.id %>" class="profile-button">
	<% unless current_user?(user) %>
			<%= follows_button_medium(user) %>
	<% end %>
</div>