<script type="text/javascript">
	$(function() {
		UserProfile.followButtonHover();
	})
</script>
<div id="follows-button-<%= user.try(:id) %>" class="profile-button">
	<% if !current_user?(user) && !current_user.blank? %>
			<%= follows_button_medium(user) %>
	<% end %>
</div>