@import "common";

$left-column-width: 330px;
$left-column-width-no-padding: 350px;
$right-column-width: $total-width - ($left-column-width + 35px);
$input-width: $left-column-width - 120px;
$helper-width: $input-width + 2px;
$border-bottom: 1px solid #dadada;
$item-height: 100px;

@mixin border-effect {
	border-top: 1px solid #ffffff;
	border-bottom: 2px solid #e9e9e9;
}

.left-one-third {
	margin-top: 10px;
	width: $left-column-width;
	float: left;
}
.left-one-third-no-padding {
	margin-top: 10px;
	width: $left-column-width-no-padding;
	float: left;
}
.right-two-thirds {
	margin-top: 10px;
	width: $right-column-width;
	float: right;
}
#user-profile.box-no-padding {background: #ffffff;}
#user-profile {
	h1 { font-size: 18px; font-weight: bold; font-family: inherit; }
	h1.section-title { display: block; font-size: 20px; border-bottom: $border-bottom;}
	h2 { font-size: 12px; font-weight: bold; font-family: inherit; color: #606060;}
	p { font-size: 12px; font-family: inherit; }
	.small-gray { font-size: 12px; color: #606060; font-family: inherit;}
}


.popup-button {
	@include active-button-gradient;
	margin: 10px 0 0 0;
	display: inline-block;
	text-align: center;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	text-shadow: none;
}
.popup-button a:hover { background-color: #3ab0d1; }
.medium-button {
	width: 70px;
	font-size: 12px;
	padding: 5px 5px;
	font-weight: normal;
}
.large-button {
	width: 80px;
	font-size: 14px;
	padding: 5px 15px;
	font-weight: bold;
}
.popup-button-follow {
	@include inactive-button-gradient;
}
.popup-button-self {
	@include inactive-button-gradient;
}
#send-compliment {
	@include border-radius;
	background-color: $main-menu-color;
	padding: 10px;
}
