@import "common";

$left-column-width: 330px;
$left-column-width-no-padding: 350px;
$right-column-width: $total-width - ($left-column-width + 15px);
$input-width: $left-column-width - 120px;
$helper-width: $input-width + 2px;
$border-bottom: 1px solid #dadada;
$item-height: 100px;

.left-one-third {
	margin-top: 10px;
	width: $left-column-width;
	float: left;
}
.left-one-third-no-padding {
	margin-top: 10px;
	width: $left-column-width-no-padding;
	float: left;
}
.right-two-thirds {
	margin-top: 10px;
	width: $right-column-width;
	float: right;
}
#user-profile.box-no-padding {background: #ffffff;}
#user-profile {
	h1 { font-size: 18px; font-weight: bold; font-family: inherit; }
	h1.section-title { display: block; font-size: 20px; border-bottom: $border-bottom;}
	h2 { font-size: 12px; font-weight: bold; font-family: inherit; color: #606060;}
	p { font-size: 12px; font-family: inherit; }
	.small-gray { font-size: 12px; color: #606060; font-family: inherit;}
}


.popup-button {
	@include active-button-gradient;
	margin: 10px 0 0 0;
	display: inline-block;
	text-align: center;
	border: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	text-shadow: none;
}
.popup-button a:hover { background-color: #3ab0d1; }
.medium-button {
	width: 70px;
	font-size: 12px;
	padding: 5px 5px;
	font-weight: normal;
}
.large-button {
	width: 80px;
	font-size: 14px;
	padding: 5px 15px;
	font-weight: bold;
}
.popup-button-follow {
	@include inactive-button-gradient;
}
.popup-button-self {
	@include inactive-button-gradient;
}
#send-compliment {
	@include border-radius;
	background-color: $main-menu-color;
	padding: 10px;
}
@mixin user-profile-form-styling {
	#validation-error {
		display: block;
		background: $inline-error-red;
		color: #fff;
		width: $helper-width;
		margin-top: -4px;
		padding: 2px;
	}
	#data-entry {
		display: block;
		margin-bottom: 5px;
	}
	#label {
		float: left;
		padding-top: 5px;
	}
	#field {
		float: left;
	}
	.helper {
		display: block;
		width: $helper-width;
		background: $light-gray;
		color: $helper-font;
		padding: 2px 2px 4px 2px;
	}
	label {
		display: inline-block;
		font-size: 13px;
		font-weight: bold;
		width: 75px;
		color: #000;
		text-align: right;
		margin-right: 5px;
		padding-top: 3px;
	}
	input,
	textarea,
	select {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 0px;
//		border: $border-gray 2px solid;
		background-color:#FFFFFF;
		color:#999;
		font-size: 13px;
		padding-left: 5px;
		margin-bottom: 0px;
	}
	select { color: #000; font-size: 13px; width: $input-width + 5px;}
	input, select { height: 25px; }
	input, textarea {	width: $input-width; }

	button {
		@include gradient-bg;
		border: none;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color: #ffffff;
		font-size: 12px;
		padding: 7px 10px;
		font-weight: normal;
		text-shadow: none;
	}
	button:hover {
		background: $blue;
		cursor: pointer;
	}
	.button-location { display: block; width: 150px; margin: 5px auto 0 auto; text-align: center; }
}
