@import "common";
@import "user_common";

#compliment-receiver-results-container {
	@include drop-box-shadow;
	display: none;
	position: absolute;
	z-index: 2;
	padding: 0 0 5px 0;
	background: #ffffff;
	overflow: none;
	width: 336px;
	margin: 0 0 0 0;
	.search-result-photo {
		float: left;
	}
	.search-result-info {
		float: left;
		margin: 0 0 0 10px;
	}
	.user-name {
		display: block;
		font-size: 13px;
	}
	.padded {
		margin-top: 10px;
	}
	li {
		margin: 0 0 0 0;
		display: block;
		float: none;
		color: #347284;
		font-size: 14px;
		border: none;
		@include border-effect;
	}
	li:not(:first-child) {
		border: none;
		@include border-effect;
	}
	li:not(:last-child) {
		border: none;
		@include border-effect;
	}
	li:last-child {
		border: none;
	}
	li:first-child {
		border-top: none;
	}
	li:hover {
		cursor: pointer;
		background: #FFFC7F;
	}
	li a {
		font-weight: normal;
		font-size: 14px;
		padding: 0 0 0 0;
		color: #347284;
		display: block;
	}
}
// .value-for-input-field,
// .id-for-input-field { display: none; }
