@import "common";
@import "user_common";

#user-contacts {
	.contact, .new-contact {
		@include border-radius;
		background: rgb(233, 233, 233); /* Fall back for shitty browsers */
		background: rgba(233, 233, 233, .5);
		border: 1px solid $border-gray;
		width: 200px;
		float: left;
		margin: 10px 10px 0 0;
		font-size: 12px;
		li {
		}
		.photo {
			float:left;
			// width: 30px;
			height: 60px;
			margin: 5px;
			text-align: center;
			overflow: hidden;
		}
		.info {
			padding: 5px;
			float:left;
			height: 40px;
			width: 100px;
		}
		.hover-container {
			position: absolute;
			text-align: right;
			.delete-link-container {
				position: relative;
				cursor: pointer;
				height: 15px;
				width: 10px;
				right: -179px;
				cursor: pointer;
			}
			.delete-link {				
				display: none;
			}
			.show-contact-type{
				position: relative;
				cursor: pointer;
				height: 25px;
				width: 20px;
				right: -173px;
				bottom: -37px;
			}
		}

	}
	.new-contact {
		background: #fff;
		border: none;
		border: 2px dashed $border-gray;
		height: 68px;
		.plus-sign {
			float:left; 
			font-size:38px;
			color: gray;
			padding: 0 10px 0 10px;
		}
		.tagline {
			float: left;
			font-size: 16px;
			padding: 8px 0 0 10px;
			color: black;
			width: 100px;
		}
	}
	li.new-contact:hover, 
	.hover {
		background: $main-menu-color;
	}
	.social {
		border: 2px solid #C0504D;
	}
	.professional {
		border: 2px solid #4F81BD;
	}
	.hide-me {
		display: none;
	}
}
#new-contact-form {
	background: $background-color;
	// padding: 20px;
	input {
		@include border-radius-5;
		outline: none;
		display: block;
		width: 300px;
		// min-height: auto	9;
		padding: 8px 0 8px 8px;
		font-size: 14px;
		// color: #666;
		background-color: #fff;
		border: 0;
		-webkit-box-shadow: inset 0 1px 2px 
		rgba(0, 0, 0, .2);
		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
		box-shadow: inset 0 1px 2px 
		rgba(0, 0, 0, .2);
	}
	#new-contact-search-form {
		padding: 20px 20px 0 20px;
	}
	.results {
		min-height: 500px;
	}
	.contact-search-container {
		background: $background-color;
	}
	#contact-search-results {
		// padding: 0 20px;
	}
}
#new-contact-type-form {
	@include border-radius-5;
	@include tooltip-box-shadow;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	background: #fff;
	input {
		float: left;
		width: 25px;
	}
	li.contact-type-list-element {
		background-color: $border-gray;
	}
}