@import "common";
@import "user_common";

$input-width: 140px;

.popup-form { 
	@include user-profile-form-styling;
	background: #DBEEF4; 
	padding: 20px;
	#data-entry {
		display: block;
		margin-bottom: 0;
	}
	#label {
		float: left;
		padding-top: 5px;
	}
	#field {
		float: left;
	}
	input,
  textarea {
		border: 1px solid #4f81bd;
		background: #ffffff;
		width: 200px;
	}
	select { border: 1px solid #4f81bd; width: 100px;}
}

.professional-experience {
	// width: 320px;
	#label {
		display: block;
		float: none;
	}
	label {
		width: 100px;
		text-align: left;
	}
	input, textarea {
		width: 300px;
	}
	.date-input {
		width: 140px;
	}
	.responsibilities {
		width: 620px;
	}
	.button-location { margin-top: 20px;}
	label.message {	
		display: block;
		// width: 303px;
		margin-top: -4px;
		padding: 4px 0 2px 5px;
		background: $inline-error-red;
		color: #ffffff;
	}
	// .small-validated-field.message {
	// 	float: left;
	// 	width: 150px;
	// }
}
