@import "common";

#nav-upper-right {
	float: right;
	padding: 0;
	margin: 20px 0 0 0;
	list-style: none;
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	a {
		display: block;
//		width: 5em;
		color: #ffffff; 
		font-size: 13px; font-weight: bold;
	}
	a:hover { color: #4A8396; }
	li {
		float: left;
//		width: 5em;
		margin-left: 20px;
	}
	// li ul {
	// 	position: absolute;
	// 	width: 8em;
	// 	left: -999em;
	// }
	// li:hover ul {
	// 	@include bottom-border-radius-small;
	// 	@include nav-box-shadow;
	// 	left: auto;
	// 	background: $main-menu-color;
	// 	color: $nav-main-font-color;
	// 	font-weight: normal;
	// 	padding: 5px;
	// 	z-index: 200;		
	// }
	// li ul li {
	// 	display: block;
	// 	margin: 0px 0px 5px 0px;
	// 	width: 8em;
	// }
	li ul li a {color: $nav-main-font-color; font-weight:normal; }
	li ul li a:hover {color: $main-menu-color; }
	li ul li:hover {
		background: $nav-main-font-color;
		color: $main-menu-color;
	}
	li ul.am-user-list li:hover {
		background: #FFFC7F;
		color: #000000;
		// font-weight: bold;
	}
	li ul li.no-hover:a:hover {color: $nav-main-font-color; font-weight:normal; }
	li ul li.no-hover:hover {
		// background: #fff;
		color: #000000;
		a {color: $nav-main-font-color; font-weight:normal; }
	}	
	li ul li.active-user {
		background: $main-menu-color;
		color: #000000;
		border-bottom: none;
		-moz-box-shadow: 0px 2px 2px #888;
		-webkit-box-shadow: 0px 2px 2px #888;
		box-shadow: 0px 2px 2px #888;
	}
}

//No sub menu
//#nav-upper-right {
//	@include navigation;
//	float: right;
//	margin: 20px 0 0 0;
//	li { font-size: 12px; }
//	li a { color: #ffffff; font-size: 13px; font-weight: bold;}
//	li a:hover { color: #4A8396; }
//}
#menu-bar-container {
	// @include nav-box-shadow;
	@include border-radius;
	background-color:$main-menu-color;
	border: 1px solid #F0F8F8;
	width: 100%;
	display: block;
	float: left;
	margin: 5px 0 0 0;
}
#nav-main-menu {
	@include navigation;
	li { height: 40px; }
	li:not(:last-child) { border-right:solid 1px #F0F8F8;}
	li:not(:first-child) {border-left: solid 1px #d9d9d9;}
	li a {
		padding: 5px 5px 0 5px;
		font-size: 16px;
		font-weight: bold;
		color: $nav-main-font-color;
		text-shadow: 1px 1px 0 #FFFFFF;
	}
	li a:hover {
		font-weight: bold;
		color: $nav-main-font-color;		
	};
	li:hover {
		background: #ffffff;
	}
	li:first-child:hover {
		-moz-border-radius-bottom-left: 8px;
		-moz-border-radius-top-left: 8px;
		border-bottom-left-radius: 8px;
		border-top-left-radius: 8px;
	}
	
}

#admin-menu {
	@include nav-box-shadow;
	display: none;
	position:absolute;
	z-index: 11;
	width: 275px;
	margin-left: -80px;
	color: #6c6c6c;
	font-size: 12px;
	a { 
		color: $nav-main-font-color; 
		display: inline-block;
		font-weight: normal; 
		// font-size: 12px;
	}
	a.company_profile { display: block; }
	a:hover { color: #ffffff; }
	li {
		width: 100%;
		margin: 0 0 0 0;
		padding: 5px 0 5px 0;
	}
	li:hover, li:hover a { color: #ffffff; }
	li ul li a { color: #000000; }
}
.am-user-image { float: left; margin: 0 0 0 5px; height: 60px; overflow: hidden;}
.am-user-info { margin: 0 0 0 5px; float: left; }
.am-profile-list { border-bottom: 1px solid #d9d9d9; }
.am-profile-title { margin: 0 0 5px 5px; font-weight: bold;}
.am-user-profile {}
.am-user-profile-image { float: left;  margin: 0 0 0 5px; height: 60px; overflow: hidden; }
.am-user-profile-info {
	// color: #000000;
	padding-top: 10px;
	margin: 0 0 0 5px;
	float: left;
	a:hover {color: #ffffff;}
}
.am-name{ 
	color: #000000; 
	font-weight: bold; 
	a:hover { text-decoration: none; }
}
.am-email {
	a:hover { text-decoration: none; }
}
.am-help-link {
	float: right;
	margin: 4px 4px 0 0;
}
.am-current-user {
	padding: 0 0 5px 0;
	// border-bottom: 1px solid #d9d9d9;
}
.am-current-user-links {
	// margin: 5px 0 0 50px;
	margin: 10px 0 0 0;
	// a { display: inline-block; }
}
.am-button-container {
	margin: 10px 0;
	width: 100%;
	text-align: center;
	.button {
		background: $background-color;
		width: 80px;
		display: inline-block;
		padding: 4px 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-weight: bold;
		color: #ffffff;
		font-size: 14px;
		font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
		text-decoration: none;
		vertical-align: middle;
		text-align: center;
	}
	.left-button {
		float: left;
		width: 50%;
		text-align: center;
	}
	.right-button{
		float: right;
		width: 50%;
		text-align: center;
	}
}