@import "common";
@import "user_common";

.popup {
	top: 0;
	left: 0;
	display: none;
	position: absolute;
	z-index: 8031;

	#popup-content {
		@include bottom-border-radius;
		@include tooltip-box-shadow;
		position: relative;
		margin-top: 18px;
		width: 200px;
		background-color: #fff;
		padding: 10px;
		// border: 2px solid #333;
	}
	$left_arrow_pos: 174px;
	$top_arrow_pos: -18px;
	#popup-content:before, #popup-content:after {
		border: solid transparent;
		content: ' ';
		height: 0;
		position: absolute;
		width: 0;
		top: $top_arrow_pos;
		left: $left_arrow_pos;
	}
	#popup-content:after {
		border: 13px solid transparent;
		border-bottom-color: $main-menu-color;
		top: $top_arrow_pos - 8px;
		left: $left_arrow_pos + 1px;
	}
	#popup-content:before {
		border: 14px solid transparent;
		border-bottom-color: #8EBAB8;
		// border-bottom-color: #e8e8e8;
		top: $top_arrow_pos - 10px;
		left: $left_arrow_pos;
	}
	#popup-content {
		// font-size: 14px;
		background: $main-menu-color;
		p.title {
			display: block;
			color: gray;
			border-bottom: 1px solid #c0c0c0;
		}
	}
	a.submit_link {
		display: block;
		color: gray;
		border-top: 1px solid #c0c0c0;
		padding: 5px 0 0 0;
	}
	ul.popup-group-list {
		margin: 5px 0 0 0;
		li {
			margin: 0 0 0 0;
			// padding: 3px;
		}
		.select {
			float: left;
			width: 15px;
		}
		.unselected {
			width: 15px;
		}
		.list-hover {
			background: #FFFC7F;
		}
		a { 
			color: #000;
			display: block;
			padding: 3px;
		}
	}
}

#user-privacy {
	.popup {
		$left_arrow_pos_priv: 14px;
		$top_arrow_pos_priv: -18px;
		#popup-content:before, #popup-content:after {
			top: $top_arrow_pos_priv;
			left: $left_arrow_pos_priv;
		}
		#popup-content:after {
			top: $top_arrow_pos_priv - 8px;
			left: $left_arrow_pos_priv + 1px;
		}
		#popup-content:before {
			top: $top_arrow_pos_priv - 10px;
			left: $left_arrow_pos_priv;
		}
	}
}