@import 'common';
@import 'user_common';

.rewards-header {
	@include top-border-radius;
	margin: 10px 0 0 0;
	background: #ffffff;
	border-bottom: solid 1px #D9D9D9;
	.title { 
		font-size: 18px;
		font-weight: bold;
		padding: 15px 0 0 25px;
	}
}
.send-reward {
	@include bottom-border-radius;
	background: #ffffff;
	padding-bottom: 10px;
}
#reward-filter-form {
	input,
	textarea,
	select {
		float: left;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 0px;
		border: $border-gray 2px solid;
		background-color:#f0f0f0;
		color:#000;
		font-size: 13px;
		padding-left: 5px;
		margin-bottom: 0px;
	}
	input.checkbox {
		margin: 5px 0 0 17px;
	}
	select {
		font-size: 12px;
		padding-top: 0;
	}
	button {
		@include gradient-bg;
		border: 1px solid gray;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color: #ffffff;
		font-size: 12px;
		padding: 7px 10px;
		font-weight: normal;
		text-shadow: none;
	}
	button:hover { @include button-gradient-gray; }
	li { margin: 5px ;}
	.reward-add-to-cart {
		margin: 10px 0 10px 260px;
	}
	.radio-label { color: #000000; font-weight: bold; width: 225px; float: left;}
	.reward-type-radio-group {
		padding: 10px 0 0 25px;
		.reward-radio-btn { margin: 10px 0 0 0; display: block;}
	}
	.user-filter-info {
		float: left; width: 600px;
		label { 
			float: left; 
			width: 250px; 
			text-align:right; 
			margin-right: 5px; 
			font-weight: bold;} 
	}
	.user-filter-submit {
		// float: right;
		// padding: 20px 10px 0 0;
		margin: 10px 0 0 260px;
	}
}
#reward-add-to-cart-form {
	input,
	textarea,
	select {
		float: left;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 0px;
		border: $border-gray 2px solid;
		background-color:#f0f0f0;
		color:#000;
		font-size: 13px;
		padding-left: 5px;
		margin-bottom: 0px;
	}
	input.checkbox {
		margin: 5px 0 0 17px;
	}
	select {
		font-size: 12px;
		padding-top: 0;
	}
}
#rewards-results { padding: 10px 0 0 0; }
table {
	@include top-border-radius;
	font-size: 12px;
	margin: 0 0 10px 10px;
	th { padding: 10px 0 0 0; height: 25px; }
	td { height: 30px; padding: 10px 0 0 0; }
	tr.header-row {
		@include top-border-radius;
		@include gradient-gray;
	}
	tr.footer-row {
		background: #dbdbdb;
	}
	tr.alternate { background: #f2f2f2; }
	th:first-child {
	    -moz-border-radius: 8px 0 0 0;
	    -webkit-border-radius: 8px 0 0 0;
	    border-radius: 8px 0 0 0;
	}
	th:last-child {
	    -moz-border-radius: 0 8px 0 0;
	    -webkit-border-radius: 0 8px 0 0;
	    border-radius: 0 8px 0 0;
	}
	th:only-child{
	    -moz-border-radius: 8px 8px 0 0;
	    -webkit-border-radius: 8px 8px 0 0;
	    border-radius: 8px 8px 0 0;
	}
	.white-bg{ background-color: #ffffff; }
	.col1 { width: 100px; text-align: center; }
	.col2 { width: 150px; }
	.col3 { width: 100px; }
	.col4 { width: 150px; text-align: center; }
	.col5 { width: 150px; text-align: center; }
	.col6 { width: 100px; text-align: center; }
}
.add-to-cart-submit { 
	float: right;
	margin: 10px 10px 0 0;
}
.add-to-cart-button {
	@include button-gradient-green;
	border: 1px solid gray;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	font-size: 12px;
	padding: 7px 10px;
	font-weight: normal;
	text-shadow: none;
 }
.add-to-cart-button:hover {
	@include button-gradient-gray;
 }
.add-to-cart-button:active {
   border: 1px solid #005B15;
   background: #005B15;
 }