@import 'common';
@import 'user_common';

.rewards-header {
	@include top-border-radius;
	margin: 10px 0 0 0;
	background: #ffffff;
	border-bottom: solid 1px #D9D9D9;
	.title { 
		font-size: 18px;
		font-weight: bold;
		padding: 15px 0 0 25px;
	}
}
.send-reward {
	@include bottom-border-radius;
	background: #ffffff;
	padding-bottom: 10px;
}
#reward-filter-form {
	input,
	textarea,
	select {
		float: left;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 0px;
		border: $border-gray 2px solid;
		background-color:#ffffff;
		color:#000;
		font-size: 14px;
		padding-left: 5px;
		margin-bottom: 0px;
	}
	input.checkbox {
		margin: 5px 0 0 17px;
	}
	select {
		font-size: 14px;
		padding-top: 0;
		width: 300px;
	}
	button {
		@include gradient-bg;
		border: 1px solid gray;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color: #ffffff;
		font-size: 14px;
		padding: 7px 15px;
		font-weight: bold;
		text-shadow: none;
	}
	button:hover { 
		// @include button-gradient-gray;
		background: #173371;
	}
	.hasDatePicker{ color: #000; }
	li { margin: 5px 0 15px 0;}
	.reward-add-to-cart {
		margin: 10px 0 10px 260px;
	}
	.radio-label { color: #000000; font-weight: bold; width: 225px; float: left;}
	.reward-type-radio-group {
		padding: 10px 0 0 25px;
		.reward-radio-btn { margin: 10px 0 0 0; display: block;}
	}
	.user-filter-info {
		float: left; 
		width: 900px;
		label { 
			float: left; 
			width: 250px; 
			text-align:right; 
			margin-right: 5px; 
			font-weight: bold;} 
	}
	.user-filter-submit {
		// float: right;
		// padding: 20px 10px 0 0;
		margin: 10px 0 0 255px;
	}
}
#reward-add-to-cart-form {
	input,
	textarea,
	select {
		float: left;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 0px;
		border: $border-gray 2px solid;
		background-color:#f0f0f0;
		color:#000;
		font-size: 13px;
		padding-left: 5px;
		margin-bottom: 0px;
	}
	input.checkbox {
		margin: 5px 0 0 17px;
	}
	select {
		font-size: 12px;
		padding-top: 0;
	}
}
#rewards-results { 
	padding: 10px 0 0 0;
	button {
		@include button-gradient-green;
		border: 1px solid gray;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color: #ffffff;
		font-size: 14px;
		padding: 7px 20px;
		font-weight: bold;
		text-shadow: none;
	 }
	button:hover {
		// @include button-gradient-gray;
		background: #00781c;
	 }
}
table#select-reward-results {
	@include top-border-radius;
	font-size: 13px;
	margin: 0 0 10px 10px;
	th {
		padding: 10px 0 0 15px; 
		height: 25px;
		color: #313131;
		text-shadow: 0.1em 0 0.1em #ffffff;
		font-weight: bold;
		cursor: pointer;
		// font-size: 14px;
		// padding: 5px 0 0 0;
	}
	td { height: 30px; padding: 10px 0 0 0; color: #1e5faf; font-weight: bold; }
	tr.header-row {
		@include top-border-radius;
		@include gradient-gray;
	}
	tr.footer-row {
		background: #dbdbdb;
	}
	tr.alternate { background: #f2f2f2; }
	th:first-child {
	    -moz-border-radius: 8px 0 0 0;
	    -webkit-border-radius: 8px 0 0 0;
	    border-radius: 8px 0 0 0;
	}
	th:last-child {
	    -moz-border-radius: 0 8px 0 0;
	    -webkit-border-radius: 0 8px 0 0;
	    border-radius: 0 8px 0 0;
	}
	th:only-child{
	    -moz-border-radius: 8px 8px 0 0;
	    -webkit-border-radius: 8px 8px 0 0;
	    border-radius: 8px 8px 0 0;
	}
	.white-bg{ background-color: #ffffff; }
	.col1 { width: 45px; text-align: center; margin: 0 0 0 -5px; }
	.col2 { width: 135px; }
	.col4 { width: 155px; text-align: center; margin: 0 0 0 5px; }
	.col5 { width: 145px; text-align: center; }
	.col6 { width: 120px; text-align: center; }
}
td.centered {
	text-align: center;
}
.add-to-cart-submit { 
	float: right;
	margin: 10px 10px 0 0;
}
.reward-amount-header {
	cursor: default;
}
.reward-amount {
	margin: 0 0 0 25px;
}

$position: 5px center;
table.tablesorter thead tr .header {
	background: url(/assets/tablesorter/bg.gif) no-repeat;
	background-position: $position;
}
table.tablesorter thead tr .headerSortUp {
	background: url(/assets/tablesorter/asc.gif) no-repeat;
	background-position: $position;
}
table.tablesorter thead tr .headerSortDown {
	background: url(/assets/tablesorter/desc.gif) no-repeat;
	background-position: $position;	
}
