@import "common";
@import "user_common";

$top-row-height: 200px;

#user-profile {
	.container {
		margin: 10px;
	}
}

.personal-container {
	position: relative;
	float: left;
	width: 375px;
	height: $top-row-height;
	.demographics-container { float: left; height: 100px;}
	.profile-photo { float: left; margin: 0 0 0 10px; }
	.demographics { float: left; margin: 0 0 0 10px; }
	.rank-buttons { position: absolute; bottom: 10px; margin-left: 10px; }
	.profile-rank-image { margin: 0 0 0 10px; padding: 5px 0 0 0; float: left;}
	.profile-button { margin: 0 0 0 10px; padding: 5px 0 0 0; float: left;}
}
.primary-stats {
	width: 225px;
	height: $top-row-height;
	float: right;
	td.value {
		color: #3275ae;
		font-weight: bold;
		font-size: 16px;
		text-align: right;
		padding: 5px 0 0 0;
	}
	td.label {
		padding: 10px 0 0 10px;
		font-size: 12px;
		text-align: left;
		color: #6c6c6c
	}
}
#achievements-by-skill {
	width: 90%;
	margin: 15px 20px;	
	tr {
		height: 40px;
	}
	tr.header {
		background: #7f7f7f;
		height: 30px;
	}
	th {
		width: 31%;
		color: #ffffff;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		padding: 5px 0 0 0;
	}
	tr.alt { background: #f3f3f3; }
	td { 
		font-weight: bold;
		color: #1e5faf;
	}
	td.non-image {padding-top: 10px; }
	.left { text-align: left; }
	.center { text-align: center; }
	.first { padding-left: 5px;}
}
