@import "common";
@import "user_common";

$inactive: #347284;
$font-size: 16px;

#user-menu {
	margin-top: 15px;
	clear: left;
	li {
		@include border-effect;
		background: url(user_profile/menu_arrow_inactive_10.png) no-repeat;
		font-size: $font-size;
		color: $inactive;
		padding: 10px 10px 0 10px;
		height: 30px;
	}
	li:first-child {
		@include top-border-radius;
		padding: 10px 10px 0 10px;
		border-top: none;
	}
	li:last-child {
		@include bottom-border-radius;
		border-bottom: none;
	}
	li:hover {
		background: #ffffff url(user_profile/menu_arrow_inactive_10.png) no-repeat;
	}
	li.active {
		color: #000000;
		background: #ffffff url(user_profile/menu_arrow_active_10.png) no-repeat;
		a {
			color: #000000;
			font-weight: bold;
		}
	}
	a {
		display: block;
		color: $inactive;
		font-size: $font-size;
	}
	a:visited {color: $inactive;}
}

