@import "common";
@import "user_common";

$top-row-height: 225px;

#user-profile {
	.container {
		margin: 10px;
	}
}

.personal-container {
	position: relative;
	float: left;
	width: 375px;
	height: $top-row-height;
	.demographics-container { float: left; }
	.profile-photo { float: left; margin: 0 0 0 10px; }
	.demographics { float: left; margin: 0 0 0 10px; }
	.rank-buttons { position: absolute; bottom: 10px; margin-left: 10px; }
	.profile-rank-image { margin: 0 0 0 10px; padding: 5px 0 0 0; float: left;}
}
.profile-button { float: left;}
.primary-stats {
	width: 225px;
	height: $top-row-height;
	float: right;
	td.value {
		color: #3275ae;
		font-weight: bold;
		font-size: 16px;
		text-align: right;
		padding: 5px 0 0 0;
	}
	td.label {
		padding: 10px 0 0 10px;
		font-size: 12px;
		text-align: left;
		color: #6c6c6c
	}
}
#achievements-by-skill {
	width: 90%;
	margin: 15px 20px;	
	tr {
		height: 30px;
	}
	tr.badge { height: 80px; }
	tr.header {
		background: #7f7f7f;
		// height: 30px;
	}
	th {
		width: 31%;
		color: #ffffff;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		padding: 5px 0 0 0;
	}
	tr.alt { background: #f3f3f3; }
	td { 
		font-weight: bold;
		color: #1e5faf;
	}
	td.non-image {padding-top: 5px; }
	.left { text-align: left; }
	.center { text-align: center; }
	.first { padding-left: 5px;}
}
#scroll-sticky { margin-top: 10px; z-index: 20;}
#new-compliment-container {
	@include user-profile-form-styling;
	background: $main-menu-color;
	border: 1px solid #c9e6ee;
	z-index: 20;
	#new-compliment {
		float: left;
		padding: 10px;
	}
	.new-compliment {
		font-size: 16px;
		font-weight: normal;
		margin-right: 10px;
	}
	.new-compliment-heading { font-size: 16px; margin: 0 0 10px 10px; }
	.send-new-compliment-button {
		display: block;
		width: 150px;
		margin: 10px auto 0 85px;
		text-align: center;
	}
	input {
		border: 1px solid #4f81bd;
		background: #ffffff;
	}
	input.new-compliment-input {
		height: 30px;
		width: 330px;
	}
	textarea.new-compliment-textarea {
		width: 330px;
	}
	select.new-compliment-select {
		height: 30px;
		width: 335px;
	}
	select, textarea { border: 1px solid #4f81bd; }
	#earned-compliment { 
		float: left;
		margin: 15px 0 0 55px;
	}
	.div-title {
		display: block;
		text-align: center;
		font-weight: bold; font-size: 15px; color: #606060;
		margin-top: 5px;
	}
	.sent-compliment-indicator {
		width: 238px;
		margin: 5px auto;
		padding: 2px;
		background-color: #f0f8f8;
	}
	.no-recent-compliment {
		float: left;
		width: 30px;
		height: 30px;
		margin: 2px;
		text-align: center;
		font-size: 18px;
		background-color: #e9e9e9;
	}
	#validation-error {
	  display: block;
	  background: #e06565;
	  color: #fff;
	  width: 334px;
	  margin-top: -3px;
	  padding: 0 2px;
	}
	.hide-me {
		display: none;
	}
}
