<div id="footer">
	<div class="container_16">
		<div class="grid_5 prefix_11">
			<% if current_founder %>
				Welcome <%= current_founder.name %> 
				(<%= link_to "Founder Sign Out", founder_signout_path %>)
			<% end %>
			<% if Rails.env.development? %>
				<div class="container">
					<%#= debug(params)  %>
				</div>
			<% end %>
		</div>
	</div>
</div>	
	